@charset "UTF-8";
@media screen and (min-width: 769px), print {
  /*   .container{
 width: 1500px;
 margin: 0 auto;
}   */
  .header_main h1 {
    display: none;
  }
  .fv {
    position: relative;
  }
  .fv_under picture {
    line-height: 0;
  }
  .fv_under picture img {
    width: 100%;
    height: auto;
  }
  .fv_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fv_front figure {
    display: inline-block;
    text-align: center;
    font-size: 0;
    width: 18.66667%;
    padding: 4.13333% 0 4.13333%;
    background: #fff;
    -moz-box-shadow: 0px 0px 5px 0px rgba(97, 91, 81, 0.75);
         box-shadow: 0px 0px 5px 0px rgba(97, 91, 81, 0.75);
  }
  .fv_front figure > img {
    max-width: 100%;
    width: 62.85714%;
    height: auto;
  }
  .fv_front figure figcaption {
    margin-top: 10.35714%;
  }
  .fv_front figure figcaption img {
    max-width: 100%;
    width: 77.14286%;
    height: auto;
  }
  .ttl_section {
    font-size: 5.1rem;
    line-height: 1;
    color: #92b97c;
    letter-spacing: 2px;
  }
  .ttl_section::first-letter {
    color: #f4a000;
  }
  .ttl_section span {
    font-size: 2.7rem;
    line-height: 1;
    color: #464646;
    display: inline-block;
    margin-left: 20px;
  }
  .st_concept {
    position: relative;
    background: url(../images/bkg_concept.jpg) top center repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 113px 0 83px;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_concept:after {
    content: "";
    background: url(../images/bkg_concept.jpg), url(../images/img_house.png) center right no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 757px;
    height: 514px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
    background-blend-mode: multiply;
  }
  .st_concept .row {
    padding-left: 52px;
  }
  .st_concept strong {
    font-size: 3.9rem;
    line-height: 48px;
    color: #464646;
    display: block;
    margin: 20px 0;
  }
  .st_concept strong ins {
    font-size: 3rem;
    text-decoration: none;
  }
  .st_concept p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .st_concept .btn {
    margin-top: 25px;
  }
  .st_case {
    padding: 100px 0 88px;
    background: url(../images/bf_case.png) left bottom no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_case .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .st_case .ttl_case {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    font-size: 6.7rem;
    min-height: 320px;
  }
  .st_case .ttl_case:after {
    content: "施工実績";
    font-size: 2.7rem;
    line-height: 1;
    color: #464646;
    z-index: 99;
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(-8px);
       -moz-transform: translateX(-8px);
        -ms-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  .st_case .gr_case {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
    padding-left: 85px;
    counter-reset: article;
    width: 100%;
  }
  .st_case .gr_case article {
    width: -webkit-calc(33.33% - 12px);
    width: -moz-calc(33.33% - 12px);
    width: calc(33.33% - 12px);
    margin-left: 12px;
  }
  .st_case .gr_case article:nth-child(-n+9) h3:before {
    content: "0" counter(article);
  }
  .st_case .gr_case article a {
    display: block;
  }
  .st_case .gr_case article a:hover {
    opacity: 0.8;
  }
  .st_case .gr_case article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .st_case .gr_case article h3 {
    font-size: 1.4rem;
    line-height: 23px;
    color: #464646;
    padding-left: 60px;
    margin-top: 10px;
    position: relative;
  }
  .st_case .gr_case article h3:before {
    counter-increment: article;
    content: counter(article);
    width: 45px;
    height: 72px;
    background-color: #92b97c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 10px;
    color: #fff;
    font-size: 3.4rem;
    position: absolute;
    top: -35px;
    left: 0;
  }
  .st_case .gr_case article figure {
    border-bottom: 4px solid #f4a000;
    line-height: 0;
    position: relative;
    overflow: hidden;
  }
  .st_case .gr_case article figure img {
    max-width: 100%;
    width: auto;
    height: 259px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .st_case .btn_case {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 45px;
  }
  .st_news {
    padding: 95px 0;
  }
  .st_news .ttl_new {
    text-align: center;
    margin-bottom: 37px;
    position: relative;
    font-size: 6.7rem;
  }
  .st_news .ttl_new:before {
    content: "";
    background: url(../images/icon_02.png) no-repeat;
    width: 203px;
    height: 120px;
    position: absolute;
    top: -10px;
    left: 150px;
  }
  .st_news .ttl_new:after {
    content: "";
    background: url(../images/icon_03.png) no-repeat;
    width: 153px;
    height: 103px;
    position: absolute;
    top: 0;
    right: 204px;
  }
  .st_news .gr_news {
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_news .gr_news .row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 62px 0 0;
  }
  .st_news .gr_news .row:before {
    content: "";
    background: url(../images/icon_01.png) no-repeat;
    width: 201px;
    height: 71px;
    position: absolute;
    top: -56px;
    left: -113px;
  }
  .st_news .gr_news .row:after {
    content: "";
    background: url(../images/icon_04.png) no-repeat;
    width: 166px;
    height: 139px;
    position: absolute;
    top: -122px;
    right: -116px;
  }
  .st_news .gr_news .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .st_news .gr_news article {
    width: -webkit-calc(50% - 55px);
    width: -moz-calc(50% - 55px);
    width: calc(50% - 55px);
    margin: 0 0 125px 55px;
  }
  .st_news .gr_news article:nth-of-type(3), .st_news .gr_news article:nth-of-type(4) {
    margin-bottom: 80px;
  }
  .st_news .gr_news article a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_news .gr_news article a:hover {
    opacity: 0.8;
  }
  .st_news .gr_news article .wrap_svg {
    width: 202px;
  }
  .st_news .gr_news article .wrap_svg svg {
    width: 202px;
    height: 197px;
    display: block;
    z-index: 1;
  }
  .st_news .gr_news article .wrap_svg svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .st_news .gr_news article .main_art {
    width: -webkit-calc(100% - 202px);
    width: -moz-calc(100% - 202px);
    width: calc(100% - 202px);
    padding-left: 20px;
  }
  .st_news .gr_news article .main_art span {
    font-size: 1.4rem;
    line-height: 1;
    border: 1px solid #b5b5b5;
    color: #464646;
    display: inline-block;
    padding: 5px 27px;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .st_news .gr_news article .main_art h3 {
    font-size: 2.3rem;
    line-height: 30px;
    color: #464646;
    margin-bottom: 20px;
  }
  .st_news .gr_news article .main_art p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .st_news .btn_new {
    text-align: center;
  }
  .st_news .btn_new a {
    margin: 40px auto 0;
  }
  .st_about {
    position: relative;
    padding: 60px 0 30px;
    margin-bottom: 114px;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_about:before {
    content: "";
    background: url(../images/img_about.png) top left no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    width: 50.26667%;
    height: 556px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  .st_about .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_about_left {
    width: 467px;
    text-align: center;
    padding: 105px 32px 115px 0;
  }
  .st_about_left .ttl_about {
    margin-bottom: 40px;
    font-size: 5.8rem;
  }
  .st_about_left .ttl_about span {
    margin-top: 20px;
  }
  .st_about_left p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .st_about_left .btn_about a {
    margin: 40px auto 0;
  }
  .st_about_right {
    width: -webkit-calc(100% - 467px);
    width: -moz-calc(100% - 467px);
    width: calc(100% - 467px);
  }
  .st_about_right .map iframe {
    width: 57.33333%;
    height: 464px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .fv {
    position: relative;
  }
  .fv_under picture {
    line-height: 0;
  }
  .fv_under picture img {
    width: 100%;
    height: auto;
  }
  .fv_front {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .fv_front figure figcaption {
    margin-top: 42.96875vw;
    display: inline-block;
    background: #fff;
    padding: 2.65625vw 13.4375vw 2.8125vw 13.28125vw;
  }
  .fv_front figure figcaption img {
    width: 40vw;
    height: auto;
  }
  .ttl_section {
    font-size: 7.96875vw;
    line-height: 1;
    color: #92b97c;
    letter-spacing: 0.3125vw;
    font-weight: bold;
  }
  .ttl_section::first-letter {
    color: #f4a000;
  }
  .ttl_section span {
    font-size: 4.21875vw;
    line-height: 1;
    color: #464646;
    display: inline-block;
    margin-left: 3.125vw;
  }
  .st_concept {
    position: relative;
    -moz-background-size: contain;
         background-size: contain;
    padding: 11.25vw 0 0;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background: url("../images/bkg_concept.jpg"), url("../images/img_house_sp.png") right top no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
  }
  .st_concept .ttl_section {
    text-align: center;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
  }
  .st_concept .ttl_section span {
    display: none;
  }
  .st_concept strong {
    font-size: 5.9375vw;
    line-height: 7.5vw;
    color: #464646;
    display: block;
    font-weight: bold;
    margin: 3.125vw 0;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
  }
  .st_concept strong ins {
    font-size: 4.6875vw;
    text-decoration: none;
  }
  .st_concept strong span {
    display: inline-block;
    margin-left: 8.4375vw;
  }
  .st_concept p {
    font-size: 2.8125vw;
    line-height: 4.53125vw;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    font-weight: bold;
  }
  .st_concept .btn {
    margin: 9.6875vw -4.6875vw 0;
    width: -webkit-calc(100% + 9.375vw);
    width: -moz-calc(100% + 9.375vw);
    width: calc(100% + 9.375vw);
    padding: 9.375vw 0 0;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .st_case {
    margin-top: 11.25vw;
    background: url(../images/bf_case.png) left bottom no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_case .ttl_case {
    text-align: center;
  }
  .st_case .ttl_case:after {
    content: "施工実績";
    font-size: 4.21875vw;
    line-height: 1;
    color: #464646;
    z-index: 99;
    position: relative;
    display: inline-block;
    margin-left: 1.25vw;
  }
  .st_case .gr_case {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    counter-reset: article;
    width: 100%;
  }
  .st_case .gr_case article {
    width: 80%;
    margin-top: 9.375vw;
  }
  .st_case .gr_case article:nth-child(-n+9) h3:before {
    content: "0" counter(article);
  }
  .st_case .gr_case article a {
    display: block;
  }
  .st_case .gr_case article h3 {
    font-size: 3.75vw;
    line-height: 1.5;
    color: #464646;
    padding-left: 15.625vw;
    margin-top: 3.125vw;
    position: relative;
  }
  .st_case .gr_case article h3:before {
    counter-increment: article;
    content: counter(article);
    width: 14.0625vw;
    height: 22.5vw;
    background-color: #92b97c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    font-size: 10.625vw;
    position: absolute;
    top: -10.9375vw;
    left: 0;
  }
  .st_case .gr_case article figure {
    border-bottom: 4px solid #f4a000;
    line-height: 0;
    position: relative;
    overflow: hidden;
  }
  .st_case .gr_case article figure img {
    width: 100%;
    height: auto;
  }
  .st_case .btn_case {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7.03125vw;
  }
  .st_news {
    padding: 9.375vw 0 0;
  }
  .st_news .ttl_new {
    text-align: center;
  }
  .st_news .gr_news {
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 4.6875vw 0;
  }
  .st_news .gr_news .row {
    position: relative;
  }
  .st_news .gr_news .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .st_news .gr_news article {
    margin: 0 0 9.375vw 0;
  }
  .st_news .gr_news article a:hover {
    opacity: 0.8;
  }
  .st_news .gr_news article .wrap_svg svg {
    width: 35.9375vw;
    height: 32.34375vw;
    margin: 0 auto;
    display: block;
    z-index: 1;
  }
  .st_news .gr_news article .wrap_svg svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .st_news .gr_news article .main_art {
    margin-top: 4.6875vw;
  }
  .st_news .gr_news article .main_art span {
    font-size: 3.125vw;
    line-height: 1;
    border: 1px solid #b5b5b5;
    color: #464646;
    display: inline-block;
    padding: 1.5625vw 3.90625vw;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .st_news .gr_news article .main_art h3 {
    font-size: 4.6875vw;
    line-height: 1.4;
    color: #464646;
    margin-bottom: 20px;
  }
  .st_news .gr_news article .main_art p {
    font-size: 3.75vw;
    line-height: 1.5;
  }
  .st_news .btn_new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4.6875vw;
  }
  .st_about {
    position: relative;
    padding: 9.375vw 0 4.6875vw;
    margin-bottom: 18.75vw;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .st_about:before {
    content: "";
    background: url(../images/img_about.png) top left no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    width: 50.26667%;
    height: 556px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  .st_about_left {
    text-align: center;
    padding: 0 4.6875vw 4.6875vw;
  }
  .st_about_left .ttl_about {
    margin-bottom: 6.25vw;
    font-size: 9.0625vw;
  }
  .st_about_left .ttl_about span {
    margin-left: 3.125vw;
  }
  .st_about_left p {
    font-size: 3.75vw;
    line-height: 1.5;
  }
  .st_about_left .btn_about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 6.25vw;
  }
  .st_about_right {
    width: -webkit-calc(100% + 9.375vw);
    width: -moz-calc(100% + 9.375vw);
    width: calc(100% + 9.375vw);
    margin: 0 -4.6875vw;
  }
  .st_about_right .map iframe {
    width: 100%;
    height: 70.3125vw;
  }
}
