@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_contact{
  padding: 140px 0 0 0;
  &_top{
    text-align: center;
    padding-bottom: 115px;
    .ttl_top{
      font-size: rem(27);
      line-height: 1;
      color: #92b97c;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 618px;
      height: 53px;
      border: 1px solid #92b97c;
      margin:0 auto 30px;
      letter-spacing: 1px;
    }
    strong{
      font-size: rem(23);
      line-height: 36px;
      margin-bottom: 35px;
      display: block;
    }
    p{
      font-size: rem(18);
      line-height: 28px;
      font-weight: bold;
    }
    em{
      font-size: rem(39);
      line-height: 1;
      position: relative;
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 70px;
      &:before{
        content:"[";
        font-size: rem(72);
        line-height: 1;
        color: #92b97c;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
      }
      &:after{
        content:"]";
        font-size: rem(72);
        line-height: 1;
        color: #92b97c;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;
      }
    }
    .tel{
      font-size: rem(61);
      line-height: 1;
      display: inline-block;
      pointer-events: none;
      color: #464646;
    }
  }
  &_center{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: 110px 0 90px;
    .row{
      padding: 0 42px;
    }
    .ttl_gr{
      margin-bottom: 50px;
    }
    p{
      font-size: rem(18);
      line-height: 28px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 35px;
    }
    .hty{
      font-size: rem(27);
      line-height: 1;
      color: #92b97c;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 229px;
      height: 53px;
      border: 1px solid #92b97c;
      margin:0 auto 30px;
      letter-spacing: 1px;
    }
    .list_l{
      display: flex;
      margin: 67px 0 0 -78px;
      li{
        width: calc(33.33% - 78px);
        margin-left: 78px;
        box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3);
        position: relative;
        &:not(:last-child){
          &:after{
            content:"";
            background: url(../images/arr_r.png) no-repeat;
            background-size: contain;
            width: 17px;
            height: 35px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -50px;
          }
        }
      }
    }
    .bx_qrcode{
      border: 1px solid #92b97c;;
      background-color: #fff;
      margin: 44px 0 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      &_l{
        text-align: center;
        em{
          font-size: rem(18);
          line-height: 28px;
          font-weight: bold;
          font-style: normal;
        }
        span{
          font-size: rem(28);
          line-height: 43px;
          width: 249px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 6px;
          font-weight: bold;
          background-color: #efeff3;
          margin: 16px auto;
        }
      }
      &_ct{
        margin: 0 110px;
        span{
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background-color: #efeff3;
          font-size: rem(51);
          line-height: 1;
          font-weight: bold;
        }
      }
      &_r{
        figure{
          display: flex;
          align-items: center;
          figcaption{
            font-size: rem(18);
            line-height: 28px;
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
    .btn_line{
      text-align: center;
      margin: 0 auto 35px;

      a{
        line-height: 0;
        &:hover{
          opacity:0.8;
        }
      }
    }
  }
  &_bottom{
    padding: 140px 0 220px;
    .ttl_gr{
      margin-bottom: 60px;
    }
    .txt_top{
      text-align: center;
      font-size: rem(18);
      line-height: 27px;
      margin-bottom: 50px;
      font-weight: bold;
    }
    .ctn_form{
      .bkg_g{
        background-color: #efeff3;
        padding: 60px;
      }
      .frm_contact{
        .frm_group{
          border-bottom: 2px dashed #aeaeae;
          padding: 14px 0;
          display: flex;
          align-items: center;
          word-break: 100%;
          &:first-of-type{
            border-top: 2px dashed #aeaeae;
          }
          &:nth-of-type(3),&:nth-of-type(6),&:nth-of-type(7){
            align-items: flex-start;
            label{
              padding-top: 10px;
            }
          }
        }
        label{
          width: 245px;
          font-size: rem(18);
          font-weight: bold;
          line-height: 25px;
          display: flex;
          align-items: center;
          .req{
            font-size: rem(16);
            line-height: 1;
            width: 58px;
            height: 27px;
            background-color: #ff3f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            color: #fff;
          }
        }
        .frm_control{
          background-color: #fff;
          border: none;
          width: 100%;
          height: 44px;
          font-size: rem(16);
          line-height: 1;
          padding: 0 10px;
          outline: none;
        }
        .frm_textarea{
          width: 100%;
          border: none;
          height: 155px;
          resize: none;
          outline: none;
        }
        .frm_checkbox{
          > span {
            font-size: rem(18);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            cursor: pointer;
            width: auto;
            padding-top: 0 !important;
            display: inline-block;
            label {
              width: inherit;
            }
            &:not(:last-child){
              margin:0 45px 13px 0;
            }
            input[type="checkbox"] {
              display: none;
              &:checked {
                +span {
                  &::after {
                    background: url('../images/check_arr.png') 0 0 no-repeat;
                    background-size: contain;
                    background-position: 2px 0;
                    left: 3px;
                    top: 6px;
                  }
                }
              }
            }
            span {
              display: inline-block;
              position: relative;
              padding: 6px 0 0 38px;
              &::before,
              &::after {
                position: absolute;
                content: "";
                box-sizing: border-box;
                display: block;
                width: 26px;
                border-radius: 4px;
                height: 26px;
                left: 3px;
                top: 6px;
                background-color: #fff;
                border: 2px solid #92b97c;
              }
              &::before {
                border: 2px solid #92b97c;
              }
            }
          }
        }
        .left{
          width: calc(100% - 245px);
          .f_top{
            display: flex;
            align-items: center;
            margin-bottom: 17px;
            span{
              font-size: rem(18);
              font-weight: bold;
              line-height: 25px;
              display: inline-block;
              margin-right: 10px;
              &:last-of-type{
                margin: 0 10px;
              }
            }
            .frm_w_105{
              width: 105px;
            }
            .btn_s{
              width: 180px;
              height: 40px;
              font-size: 16px;
              margin-left: 22px;
            }
          }
        }
        .frm_btn{
          .btn_submit{
            font-size: rem(20);
            line-height: 1;
            color: #fff;
            width: 366px;
            height: 67px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #92b97c;
            font-weight: normal;
            letter-spacing: 1px;
            position: relative;
            font-weight: bold;
            overflow: hidden;
            transform: translateZ(0);
            border: none;
            margin: 60px auto 0;
            cursor: pointer;
            &:before,&:after{
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              transition: 0.5s ease-in-out;
            }
            &:before{
              right: -50px;
              border-right: 50px solid transparent;
              border-bottom: 67px solid #f4a000;
              transform: translateX(-100%);
            }
            &:after{
              left: -50px;
              border-left: 50px solid transparent;
              border-top: 67px solid #f4a000;
              transform: translateX(100%);
            }
            &:hover{
              &:before{
                transform: translateX(-49%);
              }
              &:after{
                transform: translateX(49%);
              }
            }
          }
        }
      }
    }
  }
}
