@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_contact{
  padding: vw(100) 0 0 0;
  &_top{
    text-align: center;
    padding-bottom: vw(60);
    .ttl_top{
      font-size: vw(28);
      line-height: 1;
      color: #92b97c;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw(500);
      height: vw(60);
      border: 1px solid #92b97c;
      margin:0 auto vw(30);
      letter-spacing: 1px;
    }
    strong{
      font-size: vw(28);
      line-height: vw(44);
      margin-bottom: vw(20);
      display: block;
    }
    p{
      font-size: vw(24);
      line-height: vw(44);
      font-weight: bold;
    }
    em{
      font-size: vw(38);
      line-height: 1;
      position: relative;
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: vw(50);
      &:before{
        content:"[";
        font-size: vw(74);
        line-height: 1;
        color: #92b97c;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: vw(-65);
      }
      &:after{
        content:"]";
        font-size: vw(74);
        line-height: 1;
        color: #92b97c;
        font-weight: 500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(-65);
      }
    }
    .tel{
      font-size: vw(55);
      line-height: 1;
      display: inline-block;
      pointer-events: none;
      color: #464646;
    }
  }
  &_center{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: vw(60) 0 vw(20);
    .ttl_gr{
      margin-bottom: vw(40);
    }
    p{
      font-size: vw(24);
      line-height: vw(44);
      text-align: center;
      font-weight: bold;
      margin-bottom: vw(40);
    }
    .hty{
      font-size: vw(28);
      line-height: 1;
      color: #92b97c;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw(300);
      height: vw(60);
      border: 1px solid #92b97c;
      margin:0 auto 30px;
      letter-spacing: 1px;
    }
    .list_l{
      li{
        position: relative;
        text-align: center;
        &:not(:last-child){
          margin-bottom: vw(70);
          &:after{
            content:"";
            background: url(../images/arr_r.png) no-repeat;
            background-size: contain;
            width: vw(34);
            height: vw(70);
            position: absolute;
            transform: translateX(-50%) rotate(90deg);
            left: 50%;
            bottom: vw(-70);
          }
        }
        img{
          width: vw(311);
          height: auto;
          /* box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3); */
        }
      }
    }
    .bx_qrcode{
      border: 1px solid #92b97c;;
      background-color: #fff;
      margin: vw(50) 0;
      padding: vw(40) 0;
      text-align: center;
      &_l{
        text-align: center;
        em{
          font-size: vw(24);
          line-height: 1;
          font-weight: bold;
          font-style: normal;
        }
        span{
          font-size: vw(32);
          line-height: 1;
          width: vw(300);
          height: vw(60);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 6px;
          font-weight: bold;
          background-color: #efeff3;
          margin: vw(30) auto;
        }
      }
      &_ct{
        text-align: center;
        span{
          width: vw(150);
          height: vw(150);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background-color: #efeff3;
          font-size: vw(55);
          line-height: 1;
          font-weight: bold;
          margin: vw(50) auto;
        }
      }
      &_r{
        figure{
          display: flex;
          align-items: center;
          justify-content: center;
          figcaption{
            font-size: vw(24);
            line-height: vw(44);
            text-align: center;
            font-weight: bold;
            margin-right: vw(30);
          }
        }
      }
    }
    .btn_line{
      text-align: center;
      margin: 0 auto vw(40);
      a{
        line-height: 0;
        &:hover{
          opacity:0.8;
        }
      }
    }
  }
  &_bottom{
    padding: vw(100) 0;
    .ttl_gr{
      margin-bottom: vw(50);
    }
    .txt_top{
      text-align: center;
      font-size: vw(24);
      line-height: vw(44);
      margin-bottom: vw(50);
      font-weight: bold;
    }
    .ctn_form{
      .bkg_g{
        background-color: #efeff3;
        padding: vw(30);
      }
      .frm_contact{
        .frm_group{
          border-bottom: vw(2) dashed #aeaeae;
          padding: vw(20) 0;
          word-break: 100%;
          &:first-of-type{
            border-top: vw(2) dashed #aeaeae;
          }
        }
        label{
          font-size: vw(24);
          font-weight: bold;
          line-height: 1.3;
          display: flex;
          align-items: center;
          margin-bottom: vw(15);
          .req{
            font-size: vw(18);
            line-height: 1;
            width: vw(60);
            height: vw(30);
            background-color: #ff3f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: vw(20);
            color: #fff;
          }
        }
        .frm_control{
          background-color: #fff;
          border: none;
          width: 100%;
          height: vw(60);
          font-size: vw(24);
          line-height: 1;
          padding: 0 vw(15);
          outline: none;
        }
        .frm_textarea{
          width: 100%;
          border: none;
          height: vw(250);
          resize: none;
          outline: none;
        }
        .frm_checkbox{
          > span {
            font-size: vw(24);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            cursor: pointer;
            width: auto;
            padding-top: 0 !important;
            display: inline-block;
            label {
              width: inherit;
            }
            &:not(:last-child){
              margin:0 vw(20) vw(15) 0;
            }
            input[type="checkbox"] {
              display: none;
              &:checked {
                +span {
                  &::after {
                    background: url('../images/check_arr.png') 0 0 no-repeat;
                    background-size: contain;
                    background-position: vw(2) 0;
                    left: vw(3);
                    top: vw(6);
                  }
                }
              }
            }
            span {
              display: inline-block;
              position: relative;
              padding: vw(6) 0 0 vw(40);
              &::before,
              &::after {
                position: absolute;
                content: "";
                box-sizing: border-box;
                display: block;
                width: vw(30);
                border-radius: vw(5);
                height: vw(30);
                left: vw(3);
                top: vw(6);
                background-color: #fff;
                border: vw(2) solid #92b97c;
              }
              &::before {
                border: vw(2) solid #92b97c;
              }
            }
          }
        }
        .left{
          .f_top{
            display: flex;
            align-items: center;
            margin-bottom: vw(20);
            span{
              font-size: vw(24);
              font-weight: bold;
              line-height: vw(44);
              display: inline-block;
              margin-right: vw(10);
              &:last-of-type{
                margin: 0 vw(10);
              }
            }
            .frm_w_105{
              width: vw(113);
            }
            .btn_s{
              width: vw(195);
              height: vw(50);
              font-size: vw(18);
              margin-left: vw(20);
            }
          }
        }
        .frm_btn{
          .btn_submit{
            font-size: vw(24);
            line-height: 1;
            color: #fff;
            width: vw(400);
            height: vw(60);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #92b97c;
            font-weight: normal;
            letter-spacing: 1px;
            position: relative;
            font-weight: bold;
            overflow: hidden;
            transform: translateZ(0);
            border: none;
            margin: vw(50) auto 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
