@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_about{
  padding: vw(100) 0;
  &_top{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: vw(60) 0;
    .ttl_gr{
      font-size: rem(62);
      color: #92b97c;
    }
    .b_avt{
      figure{
        text-align: center;
        margin-bottom: vw(30);
        img{
          width: 100%;
          height: auto;
        }
      }
      .right{
        p{
          font-size: vw(24);
          line-height: vw(44);
          font-weight: bold;
          +p{
            margin-top: vw(30);
          }
        }
      }
    }
    .b_dl{
      margin: vw(20) 0 vw(50);
      dl{
        dt{
          font-size: vw(24);
          line-height: vw(44);
          font-weight: bold;
          display: inline-block;
        }
        dd{
          font-size: vw(24);
          line-height: vw(44);
          font-weight: bold;
          display: inline-block;
        }
      }
      &_left{
        border-left: 1px solid #464646;
        padding-left: vw(20);
        margin-bottom: vw(30);
      }
      &_right{
        border-left: 1px solid #464646;
        padding-left: vw(20);
      }
    }
    .gr_img{
      background: rgba(146,185,124,0.65);
      width: 100%;
      padding: vw(30) 0;
      .list_img{
        display: flex;
        flex-flow: row wrap;
        margin-left: vw(-20);
        li{
          width: calc(33.33% - #{vw(20)});
          margin: 0 0 vw(20) vw(20);
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &_center{
    padding: vw(100) 0;
    .ttl_gr{
      font-size: vw(40);
      color: #92b97c;
      margin-bottom: vw(50);
    }
    .b_profile{
      margin: 0 auto;
      dl{
        padding: vw(15) 0;
        display: flex;
        &:nth-child(odd){
          background-color: #f3f3f3;
        }
        dt{
          font-size: vw(24);
          line-height: vw(44);
          font-weight: bold;
          padding-left: vw(20);
          width: vw(160);
        }
        dd{
          padding-left: vw(20);
          width: calc(100% - #{vw(190)});
          em{
            font-size: vw(24);
            line-height: vw(44);
            font-style: normal;
            font-weight: bold;
          }
          .tel{
            pointer-events: none;
            color: #464646;
          } 
          ul{
            li{
              font-size: vw(24);
              line-height: vw(44);
              font-weight: bold;
              margin: vw(5) 0;
            }
          }
        }
      }
    }
  }
  &_access{
    .ttl_gr{
      font-size: vw(40);
      color: #92b97c;
      margin-bottom: vw(50);
    }
    .map{
      iframe{
        width: 100%;
        height: vw(300);
      }
    }
  }
  &_bottom{
    padding: vw(100) 0 0;
    .ttl_gr{
      font-size: vw(40);
      color: #92b97c;
      margin-bottom: vw(50);
    }
    figure{
      img{
        width: vw(493);
        height: auto;
      }
    }
    .right{
      margin-top: vw(20);
      p{
        font-size: vw(24);
        line-height: vw(44);
        font-weight: bold;
        +p{
          margin-top: vw(30)
        }
      }
    }
  }
}