@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_about{
  padding: 120px 0 200px;
  &_top{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: 100px 0 70px;
    .ttl_gr{
      font-size: rem(62);
      color: #92b97c;
    }
    .row{
      padding: 0 75px;
    }
    .b_avt{
      display: flex;
      figure{
        width: 305px;
      }
      .right{
        width: calc(100% - 305px);
        padding-left: 55px;
        p{
          font-size: rem(18);
          line-height: 27px;
          font-weight: bold;
          +p{
            margin-top: 40px;
          }
        }
      }
    }
    .b_dl{
      display: flex;
      margin: 45px 0 60px;
      dl{
        display: flex;
        dt{
          font-size: rem(18);
          line-height: 27px;
          font-weight: bold;
        }
        dd{
          font-size: rem(18);
          line-height: 27px;
          font-weight: bold;
        }
      }
      &_left{
        width: 395px;
        border-left: 1px solid #464646;
        padding-left: 20px;
      }
      &_right{
        width: calc(100% - 395px);
        border-left: 1px solid #464646;
        padding-left: 20px;
      }
    }
    .gr_img{
      background: rgba(146,185,124,0.65);
      width: 100%;
      padding: 26px 0 24px;
      .list_img{
        display: flex;
        margin-left: -15px;
        li{
          width: calc(20% - 15px);
          margin-left: 15px;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &_center{
    padding: 120px 0 115px;
    .ttl_gr{
      font-size: rem(40);
      color: #92b97c;
      margin-bottom: 62px;
    }
    .b_profile{
      max-width: 748px;
      margin: 0 auto;
      dl{
        display: flex;
        padding: 13px 0;
        &:nth-child(odd){
          background-color: #f3f3f3;
        }
        &:nth-child(even){

        }
        dt{
          font-size: rem(18);
          line-height: 28px;
          width: 205px;
          font-weight: bold;
          padding-left: 50px;
        }
        dd{
          width: calc(100% - 205px);
          em{
            font-size: rem(18);
            line-height: 28px;
            font-style: normal;
            font-weight: bold;
          }
          .tel{
            pointer-events: none;
            color: #464646;
          } 
          ul{
            li{
              font-size: rem(18);
              line-height: 28px;
              font-weight: bold;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
  &_access{
    .ttl_gr{
      font-size: rem(40);
      color: #92b97c;
      margin-bottom: 62px;
    }
    .map{
      iframe{
        width: 100%;
        height: 430px;
      }
    }
  }
  &_bottom{
    padding: 115px 0 100px;
    .ttl_gr{
      font-size: rem(40);
      color: #92b97c;
      margin-bottom: 62px;
    }
    .row{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right{
      padding-left: 80px;
      p{
        font-size: rem(18);
        line-height: 28px;
        font-weight: bold;
        +p{
          margin-top: 40px
        }
      }
    }
  }
}