@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
/*   .container{
 width: 1500px;
 margin: 0 auto;
}   */
.header {
  &_main {
    h1 {
      display: none;
    }
  }
}
.fv {
  position: relative;
  &_under {
    picture {
      line-height: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      display: inline-block;
      text-align: center;
      font-size: 0;
      width: percentage(280/1500);
      padding: percentage(62/1500) 0 percentage(62/1500);
      background: #fff;
      box-shadow: 0px 0px 5px 0px rgba(97, 91, 81, 0.75);
      > img {
        max-width: 100%;
        width: percentage(176/280);
        height: auto;
      }
      figcaption {
        margin-top: percentage(29/280);
        img {
          max-width: 100%;
          width: percentage(216/280);
          height: auto;
        }
      }
    }
  }
}
.ttl_section{
  font-size: rem(51);
  line-height: 1;
  color: #92b97c;
  letter-spacing: 2px;
  &::first-letter {
    color:#f4a000;
  }
  span{
    font-size: rem(27);
    line-height: 1;
    color: #464646;
    display: inline-block;
    margin-left: 20px;
  }
}
.st_concept{
  position: relative;
  background: url(../images/bkg_concept.jpg) top center repeat;
  background-size: contain;
  padding: 113px 0 83px;
  position: relative;
  transform: translateZ(0);
  &:after{
    content:"";
    background: url(../images/bkg_concept.jpg), url(../images/img_house.png) center right no-repeat;
    background-size: contain;
    width: 757px;
    height: 514px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    background-blend-mode: multiply;
  }
  .row{
    padding-left: 52px;
  }
  strong{
    font-size: rem(39);
    line-height: 48px;
    color: #464646;
    display: block;
    margin: 20px 0;
    ins{
      font-size: rem(30);
      text-decoration: none;
    }
  }
  p{
    font-size: rem(14);
    line-height: 22px;
  }
  .btn{
    margin-top: 25px;
  }
}
.st_case{
  padding: 100px 0 88px;
  background: url(../images/bf_case.png) left bottom no-repeat;
  background-size: contain;
  .wrap{
    display: flex;
    position: relative;
  }
  .ttl_case{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    writing-mode: vertical-lr;
    transform-origin: 0 0;
    font-size: rem(67);
    min-height: 320px;
    &:after{
      content:"施工実績";
      font-size: rem(27);
      line-height: 1;
      color: #464646;
      z-index: 99;
      position: relative;
      display: inline-block;
      transform: translateX(-8px);
    }
  }
  .gr_case{
    display: flex;
    margin-left: -12px;
    padding-left: 85px;
    counter-reset: article;
    width: 100%;
    article{
      width: calc(33.33% - 12px);
      margin-left: 12px;
      &:nth-child(-n+9) h3:before{
        content: "0" counter(article);
      }
      a{
        display: block;
        &:hover{
          opacity:0.8;
          figure{
            img{
              transform: scale(1.05);
            }
          }
        }
      }
      h3{
        font-size: rem(14);
        line-height: 23px;
        color: #464646;
        padding-left: 60px;
        margin-top: 10px;
        position: relative;
        &:before{
          counter-increment: article;
          content: counter(article);
          width: 45px;
          height: 72px;
          background-color: #92b97c;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding-bottom: 10px;
          color: #fff;
          font-size: rem(34);
          position: absolute;
          top: -35px;
          left: 0;
        }
      }
      figure{
        border-bottom: 4px solid #f4a000;
        line-height: 0;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .btn_case{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 45px;
  }
}
.st_news{
  padding: 95px 0;
  .ttl_new{
    text-align: center;
    margin-bottom: 37px;
    position: relative;
    font-size: rem(67);
    &:before {
      content:"";
      background: url(../images/icon_02.png) no-repeat;
      width: 203px;
      height: 120px;
      position: absolute;
      top: -10px;
      left: 150px;
    }
    &:after {
      content:"";
      background: url(../images/icon_03.png) no-repeat;
      width: 153px;
      height: 103px;
      position: absolute;
      top: 0;
      right: 204px;
    }
  }
  .gr_news{
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    background-size: contain;
    .row{
      position: relative;
      display: flex;
      flex-flow: row wrap;
      padding: 62px 0 0;
      &:before {
        content:"";
        background: url(../images/icon_01.png) no-repeat;
        width: 201px;
        height: 71px;
        position: absolute;
        top: -56px;
        left: -113px;
      }
      &:after {
        content:"";
        background: url(../images/icon_04.png) no-repeat;
        width: 166px;
        height: 139px;
        position: absolute;
        top: -122px;
        right: -116px;
      }
    }
    .mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    article{
      width: calc(50% - 55px);
      margin: 0 0 125px 55px;
      &:nth-of-type(3),&:nth-of-type(4){
        margin-bottom: 80px;
      }
      a{
        display: flex;
        align-items: center;
        &:hover{
          opacity:0.8;
        }
      }
      .wrap_svg{
        width: 202px;
        svg {
          width: 202px;
          height: 197px;
          display: block;
          z-index: 1;
          image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .main_art{
        width: calc(100% - 202px);
        padding-left: 20px;
        span{
          font-size: rem(14);
          line-height: 1;
          border: 1px solid #b5b5b5;
          color: #464646;
          display: inline-block;
          padding: 5px 27px;
          background-color: #fff;
          margin-bottom: 15px;
        }
        h3{
          font-size: rem(23);
          line-height: 30px;
          color: #464646;
          margin-bottom: 20px;
        }
        p{
          font-size: rem(14);
          line-height: 22px;
        }
      }
    }
  }
  .btn_new{
    text-align: center;
    a{
      margin: 40px auto 0;
    }
  }
}
.st_about{
  position: relative;
  padding: 60px 0 30px;
  margin-bottom: 114px;
  transform: translateZ(0);
   &:before{
    content:"";
    background: url(../images/img_about.png) top left no-repeat;
    background-size: cover;
    width: percentage(754/1500);
    height: 556px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
  .wrap{
    display: flex;
    align-items: center;
  }
  &_left{
    width: 467px;
    text-align: center;
    padding: 105px 32px 115px 0;
    .ttl_about{
      margin-bottom: 40px;
      font-size: rem(58);
      span{
        margin-top: 20px;
      }
    }
    p{
      font-size: rem(14);
      line-height: 22px;
    }
    .btn_about{
      a{
        margin: 40px auto 0;
      }
    }
  }
  &_right{
    width: calc(100% - 467px);
    .map{
      iframe{
        width: percentage(860/1500);
        height: 464px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
}