@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.fv {
  position: relative;
  &_under {
    picture {
      line-height: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    figure {
      figcaption {
        margin-top: vw(275);
        display: inline-block;
        background: #fff;
        padding: vw(17) vw(86) vw(18) vw(85);
        img {
          width: vw(256);
          height: auto;
        }
      }
    }
  }
}
.ttl_section{
  font-size: vw(51);
  line-height: 1;
  color: #92b97c;
  letter-spacing: vw(2);
  font-weight: bold;
  &::first-letter {
    color:#f4a000;
  }
  span{
    font-size: vw(27);
    line-height: 1;
    color: #464646;
    display: inline-block;
    margin-left: vw(20);
  }
}
.st_concept{
  position: relative;
  background-size: contain;
  padding: vw(72) 0 0;
  position: relative;
  transform: translateZ(0);
  background: url('../images/bkg_concept.jpg'), url('../images/img_house_sp.png') right top no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  .ttl_section {
    text-align: center;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    span {
      display: none;
    }
  }
  strong{
    font-size: vw(38);
    line-height: vw(48);
    color: #464646;
    display: block;
    font-weight: bold;
    margin: vw(20) 0;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    ins{
      font-size: vw(30);
      text-decoration: none;
    }
    span {
      display: inline-block;
      margin-left: vw(54);
    }
  }
  p{
    font-size: vw(18);
    line-height: vw(29);
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    font-weight: bold;
  }
  .btn{
    margin: vw(62) vw(-30) 0;
    width: calc(100% + #{vw(60)});
    padding: vw(60) 0 0;
    background: #fff;
    display: flex;
    justify-content: center;
  }
}
.st_case{
  margin-top: vw(72);
  background: url(../images/bf_case.png) left bottom no-repeat;
  background-size: contain;
  .wrap{
  }
  .ttl_case{
    text-align: center;
    &:after{
      content:"施工実績";
      font-size: vw(27);
      line-height: 1;
      color: #464646;
      z-index: 99;
      position: relative;
      display: inline-block;
      margin-left: vw(8);
    }
  }
  .gr_case{
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-reset: article;
    width: 100%;
    article{
      width: 80%;
      margin-top: vw(60);
      &:nth-child(-n+9) h3:before{
        content: "0" counter(article);
      }
      a{
        display: block;
      }
      h3{
        font-size: vw(24);
        line-height: 1.5;
        color: #464646;
        padding-left: vw(100);
        margin-top: vw(20);
        position: relative;
        &:before{
          counter-increment: article;
          content: counter(article);
          width: vw(90);
          height: vw(144);
          background-color: #92b97c;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          color: #fff;
          font-size: vw(68);
          position: absolute;
          top: vw(-70);
          left: 0;
        }
      }
      figure{
        border-bottom: 4px solid #f4a000;
        line-height: 0;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .btn_case{
    display: flex;
    justify-content: center;
    margin-top: vw(45);
  }
}
.st_news{
  padding: vw(60) 0 0;
  .ttl_new{
    text-align: center;
  }
  .gr_news{
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    background-size: contain;
    padding: vw(30) 0;
    .row{
      position: relative;
    }
    .mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    article{
      margin: 0 0 vw(60) 0;
      a{
        &:hover{
          opacity:0.8;
        }
      }
      .wrap_svg{
        svg {
          width: vw(230);
          height: vw(207);
          margin: 0 auto;
          display: block;
          z-index: 1;
          image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          } 
        }
      }
      .main_art{
        margin-top: vw(30);
        span{
          font-size: vw(20);
          line-height: 1;
          border: 1px solid #b5b5b5;
          color: #464646;
          display: inline-block;
          padding: vw(10) vw(25);
          background-color: #fff;
          margin-bottom: 15px;
        }
        h3{
          font-size: vw(30);
          line-height: 1.4;
          color: #464646;
          margin-bottom: 20px;
        }
        p{
          font-size: vw(24);
          line-height: 1.5;
        }
      }
    }
  }
  .btn_new{
    display: flex;
    justify-content: center;
    margin-top: vw(30);
  }
}
.st_about{
  position: relative;
  padding: vw(60) 0 vw(30);
  margin-bottom: vw(120);
  transform: translateZ(0);
   &:before{
    content:"";
    background: url(../images/img_about.png) top left no-repeat;
    background-size: cover;
    width: percentage(754/1500);
    height: 556px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
  .wrap{
  }
  &_left{
    text-align: center;
    padding: 0 vw(30) vw(30);
    .ttl_about{
      margin-bottom: vw(40);
      font-size: vw(58);
      span{
        margin-left: vw(20);
      }
    }
    p{
      font-size: vw(24);
      line-height: 1.5;
    }
    .btn_about{
      display: flex;
      justify-content: center;
      margin-top: vw(40);
    }
  }
  &_right{
    width: calc(100% + #{vw(60)});
    margin: 0 vw(-30);
    .map{
      iframe{
        width: 100%;
        height: vw(450);
      }
    }
  }
}