@media screen and (min-width: 769px), print {
  .gr_case {
    margin-top: 110px;
    /*=== Detail ====*/
  }
  .gr_case .case_tag {
    margin-bottom: 29px;
  }
  .gr_case .b_bkg {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 75px 0 0;
  }
  .gr_case .ttl_h {
    font-size: 2.2rem;
    line-height: 1;
    font-weight: bold;
    width: 100%;
    height: 48px;
    border: 1px solid #92b97c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #92b97c;
    background-color: #fff;
    margin-bottom: 24px;
  }
  .gr_case_detail .wrap {
    padding: 0 74px;
  }
  .gr_case_detail figure img {
    width: 100%;
    height: auto;
  }
  .gr_case_detail .txt_dt {
    padding: 0 50px;
    margin: 50px 0;
  }
  .gr_case_detail .txt_dt p {
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .gr_case_detail .txt_dt .price li {
    font-size: 1.8rem;
    line-height: 28px;
  }
  .gr_case_detail .txt_dt .price li span {
    display: inline-block;
    margin-left: 20px;
  }
  .gr_case_detail .dt_center .bf_af {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -52px;
  }
  .gr_case_detail .dt_center .bf_af article {
    width: -webkit-calc(50% - 52px);
    width: -moz-calc(50% - 52px);
    width: calc(50% - 52px);
    margin-left: 52px;
  }
  .gr_case_detail .list_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -11px;
  }
  .gr_case_detail .list_img li {
    width: -webkit-calc(33.33% - 11px);
    width: -moz-calc(33.33% - 11px);
    width: calc(33.33% - 11px);
    margin-left: 11px;
  }
  .gr_case_detail .list_img li:not(:nth-of-type(-n+3)) {
    margin-top: 11px;
  }
  .gr_case_detail .list_img li img {
    width: 100%;
    height: auto;
  }
  .gr_case_detail .dt_post {
    margin-top: 140px;
  }
  .gr_case_detail .dt_post .ttl_post {
    font-size: 2.2rem;
    line-height: 44px;
    font-weight: bold;
    color: #92b97c;
    border-bottom: 2px solid #92b97c;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  .gr_case_detail .dt_post .w_item article h4 {
    font-size: 1.5rem;
  }
  .gr_case_detail .dt_post .w_item article h4 span {
    font-size: 1.2rem;
  }
  .gr_case .b_pag {
    margin: 60px 0 80px;
  }
  .gr_case .b_pag .list_pag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .gr_case .b_pag .list_pag li {
    width: 221px;
  }
  .gr_case .b_pag .list_pag li:not(:last-child) {
    margin-right: 54px;
  }
  .gr_case .b_pag .list_pag li.prev a span {
    padding-left: 30px;
  }
  .gr_case .b_pag .list_pag li.prev a span:before {
    content: "<";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .gr_case .b_pag .list_pag li.next a span {
    padding-right: 30px;
  }
  .gr_case .b_pag .list_pag li.next a span:after {
    content: ">";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 70px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .gr_case .b_pag .list_pag li a {
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    background-color: #92b97c;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gr_case .b_pag .list_pag li a:before, .gr_case .b_pag .list_pag li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .gr_case .b_pag .list_pag li a:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 48px solid #f4a000;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .gr_case .b_pag .list_pag li a:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 48px solid #f4a000;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .gr_case .b_pag .list_pag li a:hover:before {
    -webkit-transform: translateX(-49%);
       -moz-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
  .gr_case .b_pag .list_pag li a:hover:after {
    -webkit-transform: translateX(49%);
       -moz-transform: translateX(49%);
        -ms-transform: translateX(49%);
            transform: translateX(49%);
  }
  .gr_case .c_tag {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .gr_case {
    margin-top: 15.625vw;
    /*=== Detail ====*/
  }
  .gr_case .case_tag {
    margin-bottom: 4.6875vw;
  }
  .gr_case .b_bkg {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 9.375vw 0 0;
  }
  .gr_case .ttl_h {
    font-size: 3.4375vw;
    line-height: 1;
    font-weight: bold;
    width: 100%;
    height: 7.5vw;
    border: 1px solid #92b97c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #92b97c;
    background-color: #fff;
    margin-bottom: 3.90625vw;
  }
  .gr_case_detail figure img {
    width: 100%;
    height: auto;
  }
  .gr_case_detail .txt_dt {
    padding: 0 2.34375vw;
    margin: 3.125vw 0;
  }
  .gr_case_detail .txt_dt p {
    font-size: 3.75vw;
    line-height: 6.875vw;
    margin-bottom: 4.6875vw;
  }
  .gr_case_detail .txt_dt .price li {
    font-size: 3.75vw;
    line-height: 6.875vw;
  }
  .gr_case_detail .txt_dt .price li span {
    display: inline-block;
    margin-left: 4.6875vw;
  }
  .gr_case_detail .dt_center .bf_af {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -3.125vw;
  }
  .gr_case_detail .dt_center .bf_af article {
    width: -webkit-calc(50% - 3.125vw);
    width: -moz-calc(50% - 3.125vw);
    width: calc(50% - 3.125vw);
    margin-left: 3.125vw;
  }
  .gr_case_detail .list_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -1.5625vw;
  }
  .gr_case_detail .list_img li {
    width: -webkit-calc(33.33% - 1.5625vw);
    width: -moz-calc(33.33% - 1.5625vw);
    width: calc(33.33% - 1.5625vw);
    margin-left: 1.5625vw;
  }
  .gr_case_detail .list_img li img {
    width: 100%;
    height: auto;
  }
  .gr_case_detail .dt_post {
    margin-top: 7.8125vw;
  }
  .gr_case_detail .dt_post .ttl_post {
    font-size: 4.0625vw;
    line-height: 1.3;
    font-weight: bold;
    color: #92b97c;
    border-bottom: 0.3125vw solid #92b97c;
    padding-bottom: 0.9375vw;
    margin-bottom: 4.6875vw;
  }
  .gr_case_detail .dt_post .w_item article h4 {
    font-size: 2.8125vw;
  }
  .gr_case_detail .dt_post .w_item article h4 span {
    font-size: 2.5vw;
  }
  .gr_case .b_pag {
    margin: 7.8125vw 0;
  }
  .gr_case .b_pag .list_pag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .gr_case .b_pag .list_pag li {
    width: 37.5vw;
  }
  .gr_case .b_pag .list_pag li:not(:last-child) {
    margin-right: 6.25vw;
  }
  .gr_case .b_pag .list_pag li.prev a span:before {
    content: "<";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 4.6875vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .gr_case .b_pag .list_pag li.next a span:after {
    content: ">";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 4.6875vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .gr_case .b_pag .list_pag li a {
    font-size: 3.4375vw;
    line-height: 1;
    color: #fff;
    width: 100%;
    height: 9.375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    background-color: #92b97c;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gr_case .c_tag {
    margin-bottom: 15.625vw;
  }
}
