@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}

.row {
  padding: 0 vw(30);
}
.btn{
  a{
    font-size: vw(20);
    line-height: 1;
    font-weight: 500;
    color: #fff;
    width: vw(269);
    height: vw(64);
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    background-color: #92b97c;
    letter-spacing: 1px;
    transform: translateZ(0);
  }
}

.ttl_gr{
  text-align: center;
  display: block;
  margin-bottom: vw(50);
  span{
    font-size: vw(44);
    line-height: 1;
    position: relative;
    font-weight: bold;
    &:before{
      content:"[";
      font-size: vw(74);
      line-height: 1;
      color: #92b97c;
      font-weight: 500;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(-70);
    }
    &:after{
      content:"]";
      font-size: vw(74);
      line-height: 1;
      color: #92b97c;
      font-weight: 500;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(-70);
    }
  }
}
.case_tag{
  .list_tag{
    font-size: 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 0 vw(15) vw(15);
      a{
        font-size: vw(22);
        line-height: 1;
        display: block;
        padding: vw(10) vw(20);
        font-weight: bold;
        border: 1px solid #92b97c;
        border-radius: 30px;
        &:hover{
          background-color:#f4a000;
          color: #fff;
          border: 1px solid #f4a000;
        }
      }
    }
  }
}
.case_item{
  .w_item{
    display: flex;
    flex-flow: row wrap;
    margin-left: vw(-15);
  }
  article{
    width: calc(50% - #{vw(15)});
    margin: 0 0 vw(50) vw(15);
    a {
      display: block;
      &:hover{
        opacity:0.8;
        figure{
          img{
            transform: scale(1.05);
          }
        }
        h4{
          &:after{
            width: 100%;
          }
        }
      }
    }
    figure{
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
      }
    }
    .main_art{
      h4{
        font-size: vw(24);
        line-height: 1.3;
        text-align: right;
        border-bottom: vw(4) solid #f4a000;
        padding: vw(10) 0 vw(15);
        margin: vw(10) 0 vw(20);
        position: relative;
        span{
          display: block;
          font-size: vw(18);
          margin-top: vw(10);
        }
        &:before{
          content:"";
          width: 10px;
          height: 100%;
          background-color: #92b97c;
          position: absolute;
          bottom: vw(-4);
          left: 0;
        }
      }
      &_l{
        font-size: 0;
        li{
          display: inline-block;
          margin: 0 0 vw(10) vw(10);
          span{
            font-size: vw(16);
            line-height: 1;
            display: block;
            padding: vw(8) vw(22);
            font-weight: bold;
            border: 1px solid #92b97c;
            border-radius: 30px;
            color: #92b97c;
          }
        }
      }
    }
  }
}