@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
.container{
  overflow:hidden;
}
.gr_breadcrumb{
  margin: 30px 0 0 0;
  &_list{
    font-size: 0;
    li{
      font-size: rem(16);
      line-height: 1;
      color: #92b97c;
      position: relative;
      display: inline-block;
      font-weight: bold;
      &:not(:last-child){
        margin-right: 30px;
        &:after{
          content:">";
          font-size: rem(16);
          line-height: 1;
          color: #92b97c;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -20px;
        }
      }
      a{
        color: #92b97c;
        &:hover{
          color:#f4a000;
        }
      }
    }
  }
}
.ttl_gr{
  text-align: center;
  display: block;
  margin-bottom: 55px;
  span{
    font-size: rem(45);
    line-height: 1;
    position: relative;
    font-weight: bold;
    &:before{
      content:"[";
      font-size: rem(72);
      line-height: 1;
      color: #92b97c;
      font-weight: 500;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -70px;
    }
    &:after{
      content:"]";
      font-size: rem(72);
      line-height: 1;
      color: #92b97c;
      font-weight: 500;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -70px;
    }
  }
}
.case_tag{
  .list_tag{
    font-size: 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 0 16px 12px;
      a{
        font-size: rem(19);
        line-height: 1;
        display: block;
        padding: 10px 25px;
        font-weight: bold;
        border: 1px solid #92b97c;
        border-radius: 30px;
        &:hover{
          background-color:#f4a000;
          color: #fff;
          border: 1px solid #f4a000;
        }
      }
    }
  }
}
.case_item{
  .w_item{
    display: flex;
    flex-flow: row wrap;
    margin-left: -33px;
  }
  article{
    width: calc(33.33% - 33px);
    margin: 0 0 88px 33px;
    a {
      display: block;
      &:hover{
        opacity:0.8;
        figure{
          img{
            transform: scale(1.05);
          }
        }
        h4{
          &:after{
            width: 100%;
          }
        }
      }
    }
    figure{
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
      }
    }
    .main_art{
      h4{
        font-size: rem(18);
        line-height: 23px;
        text-align: right;
        border-bottom: 3px solid #f4a000;
        padding: 10px 0;
        margin: 10px 0 20px;
        position: relative;
        span{
          display: block;
          font-size: rem(14);
        }
        &:before{
          content:"";
          width: 10px;
          height: 67px;
          background-color: #92b97c;
          position: absolute;
          bottom: -3px;
          left: 0;
        }
        &:after{
          content: ' ';
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 0;
          height: 3px;
          transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
          background: #92b97c;
          z-index: 10;
        }
      }
      &_l{
        font-size: 0;
        li{
          display: inline-block;
          margin: 0 0 10px 10px;
          span{
            font-size: rem(15);
            line-height: 1;
            display: block;
            padding: 8px 20px;
            font-weight: bold;
            border: 1px solid #92b97c;
            border-radius: 30px;
            color: #92b97c;
          }
        }
      }
    }
  }
}
.btn{
  a{
    font-size: rem(14);
    line-height: 1;
    color: #fff;
    width: 160px;
    height: 46px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    background-color: #92b97c;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    &:before,&:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: 0.5s ease-in-out;
    }
    &:before{
      right: -50px;
      border-right: 50px solid transparent;
      border-bottom: 46px solid #f4a000;
      transform: translateX(-100%);
    }
    &:after{
      left: -50px;
      border-left: 50px solid transparent;
      border-top: 46px solid #f4a000;
      transform: translateX(100%);
    }
    &:hover{
      &:before{
        transform: translateX(-49%);
      }
      &:after{
        transform: translateX(49%);
      }
    }
  }
}