.footer {
  position: relative;
  padding: vw(70) 0 0;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: vw(70);
    background: url('../images/bg_footer_top_sp.png') no-repeat center 0;
    background-size: contain;
    top: vw(0);
  }
  &_top {
    display: flex;
    flex-flow: row wrap;
    > * {
      width: 100%;
    }
    &_nav {
      background: url('../images/footer_blend.png') repeat 0 0;
      background-color: #E6EECE;
      background-blend-mode: multiply;
      order: 2;
      > ul {
        > li {
          &:first-child {
            display: none;
          }
          &:last-child {
            border-bottom: 1px solid #92b97c;
          }
          padding: 0 0 0 vw(38);
          border-top: 1px solid #92b97c;
          position: relative;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          > a {
            display: inline-flex;
            align-items: center;
            position: relative;
            font-size: vw(19);
            line-height: 0;
            padding: vw(29) 0 vw(30);
            &::before {
              position: relative;
              content: "";
              width: vw(15);
              height: vw(20);
              background: url('../images/icon_house.png') 0 0 no-repeat;
              background-size: contain;
              margin-right: vw(18);
            }
          }
          > span {
            display: inline-flex;
            width: vw(22);
            height: vw(22);
            position: relative;
            margin-right: vw(72);
            &::before,&::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              background: #464646;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
            }
            &::after {
              transform-origin: 50% 50%;
              transform: translate(-50%,-50%) rotate(90deg);
              transition: transform 0.3s ease;
            }
          }
          > ul {
            width: calc(100% + #{vw(38)});
            margin-left: vw(-38);
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;
            > li {
              border-top: 1px solid #92b97c;
              > a {
                font-size: vw(19);
                line-height: vw(29);
                padding: vw(20) 0 vw(20) vw(68);
                display: block;
                width: 100%;
              }
            }
          }
          &.active {
            > span {
              &::after {
                transform: translate(-50%,-50%) rotate(180deg) ;
              }
            }
          }
        }
      }
    }
    &_c {
      background: url('../images/footer_blend.png') repeat 0 0;
      background-color: #E6EECE;
      background-blend-mode: multiply;
      position: relative;
      order: 1;
      &_row {
        padding: vw(64) 0 vw(67);
        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            font-size: vw(47);
            line-height: 1;
            font-weight: bold;
            color: #92b97c;
            span {
              font-size: vw(27);
              line-height: 1;
              color: #464646;
            }
            &::first-letter {
              text-transform: uppercase;
              color: #f4a000;
            }
          }
          .hotline {
            position: relative;
            padding: 0 0 0 vw(90);
            color: #464646;
            margin-top: vw(50);
            &::before {
              position: absolute;
              content: "tel";
              font-size: vw(53);
              line-height: 1;
              font-weight: 500;
              left: 0;
              top: 0;
            }
            a {
              font-size: vw(53);
              line-height: 1;
              color: #464646;
              font-weight: bold;
            }
            span {
              display: block;
              padding: 0 0 0 vw(43);
              font-size: vw(16);
              line-height: 1;
              margin-top: vw(12);
            }
          }
          .btn {
            margin-top: vw(30);
            a {
              width: vw(458);
              height: vw(71);
              font-size: vw(22);
              line-height: 1;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background: #92b97c;
            }
          }
        }
      }
    }
    &_e {
      order: 3;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: vw(26) vw(55);
      h4 {
        font-size: vw(22);
        line-height: 1;
        font-weight: bold;
      }
      &_r {
        address,p {
          font-style: normal;
          font-size: vw(20);
          line-height: vw(38);
          text-align: justify;
        }
        p {
          a.tel {
            color: #464646;
          }
        }
      }
    }
  }
  &_bottom {
    text-align: center;
    padding: 0 0 vw(50);
    background: #fff;
    font-size: vw(16);
    line-height: 1;
    font-weight: 500;
  }
  .pagetop {
    position: absolute;
    width: vw(52);
    height: vw(52);
    background: #92b97c;
    right: vw(41);
    top: vw(28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: vw(13);
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    &::before {
      position: relative;
      content: "";
      width: vw(23);
      height: vw(12);
      background: url('../images/arrow_pagetop.png') 0 0 no-repeat;
      background-size: contain;
      margin-bottom: vw(7);
    }
  }
}