.footer {
  position: relative;
  padding: 70px 0 0;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background: url('../images/bg_footer_top.png') no-repeat center 0;
    top: 0;
  }
  &_top {
    &_nav {
      padding: 68px 0 0;
      background: url('../images/footer_blend.png') repeat 0 0;
      background-color: #E6EECE;
      background-blend-mode: multiply;
      > ul {
        display: flex;
        padding: 0 0 0 93px;
        > li {
          width: 190px;
          > a {
            display: inline-block;
            font-size: 1.6rem;
            line-height: 1;
            font-weight: bold;
            color: #464646;
            padding: 0 0 0 28px;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url('../images/icon_house.png') 0 0 no-repeat;
              background-size: contain;
              height: 18px;
              width: 13px;
            }
          }
          > ul {
            padding: 15px 0 0 29px;
            > li {
              &:not(:first-child) {
                margin-top: 10px;
              }
              > a {
                font-size: 1.6rem;
                line-height: 1;
                font-weight: 500;
                padding: 0 0 0 15px;
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  width: 9px;
                  height: 14px;
                  background: url('../images/arrow_footer.png') 0 0 no-repeat;
                  background-size: contain;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
    &_c {
      position: relative;
      transform: translateZ(0);
      background-image: url('../images/bg_footer_01.png'),url('../images/footer_blend.png');
      background-blend-mode: multiply;
      background-position: right 109px center, 0 0;
      background-repeat: no-repeat, repeat;
      background-color: #E6EECE;
      &_row {
        padding: 85px 0 133px 70px;
        article {
          h3 {
            font-size: 4.7rem;
            line-height: 1;
            font-weight: bold;
            color: #92b97c;
            span {
              font-size: 2.7rem;
              line-height: 1;
              color: #464646;
            }
            &::first-letter {
              text-transform: uppercase;
              color: #f4a000;
            }
          }
          .hotline {
            position: relative;
            padding: 0 0 0 72px;
            color: #464646;
            margin-top: 50px;
            &::before {
              position: absolute;
              content: "tel";
              font-size: 4.4rem;
              line-height: 1;
              font-weight: 500;
              left: 0;
              top: 0;
            }
            a {
              font-size: 4.4rem;
              line-height: 1;
              color: #464646;
              font-weight: bold;
              pointer-events: none;
            }
            span {
              display: block;
              padding: 0 0 0 35px;
              font-size: 1.3rem;
              line-height: 1;
              margin-top: 10px;
            }
          }
          .btn {
            margin-left: 17px;
            margin-top: 34px;
            a {
              width: 331px;
              height: 52px;
              font-size: 1.6rem;
              line-height: 1;
              font-weight: 500;
              &::before {
                border-bottom: 52px solid #f4a000;
              }
              &::after {
                border-bottom: 52px solid #f4a000;
              }
            }
          }
          h4 {
            font-size: 1.8rem;
            line-height: 1;
            font-weight: bold;
            margin-top: 49px;
          }
          address,p {
            font-style: normal;
            font-size: 2rem;
            line-height: 38px;
          }
          p {
            a.tel {
              pointer-events: none;
              color: #464646;
            }
          }
        }
      }
    }
  }
  &_bottom {
    text-align: center;
    padding: 21px 0;
    background: #fff;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
  }
  .pagetop {
    position: absolute;
    width: 88px;
    height: 88px;
    background: #92b97c;
    right: calc(50% - ((1150px + 88px)  / 2));
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &::before {
      position: relative;
      content: "";
      width: 39px;
      height: 21px;
      background: url('../images/arrow_pagetop.png') 0 0 no-repeat;
      background-size: contain;
      margin-bottom: 9px;
    }
  }
  .social {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        line-height: 0;
        display: block;
      }
    }
  }
}