.header {
  &_main {
    h1 {
      text-align: center;
      padding: 90px 0 0;
      font-size: 0;
      a {
        display: inline-block;
      }
    }
  }
  &_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 0 33px;
    background: #fff;
    &_list {
      display: flex;
      > li {
        &:not(:last-child) {
          margin-right: 18px;
        }
        > a {
          font-size: 1.4rem;
          line-height: 1;
          font-weight: bold; 
          color: #464646;
          padding: 0 10px;
          position: relative;
          display: inline-block;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background: #d9e3ba;
            left: 50%;
            bottom: -7px;
            transform-origin: 50% 50%;
            transform: translateX(-50%) scale(0, 1);
            transition: transform 0.3s ease;
          }
          &:hover {
            &::after {
              transform: translateX(-50%) scale(1,1);
            }
          }
        }
        > span {
          display: none;
        }
        > ul {
          display: none;
        }
      }
    }
    &_btn {
      display: flex;
      margin-left: 38px;
      li {
        &:not(:last-child) {
          margin-right: 17px;
        }
        a {
          display: inline-flex;
          justify-content: center;
          font-size: 1.4rem;
          line-height: 1;
          &.mail {
            background: #92b97c;
            color: #fff;
            padding: 10px 41px 11px 34px;
            &::before {
              position: relative;
              content: "";
              width: 21px;
              height: 15px;
              background: url('../images/icon_mail.png') 0 0 no-repeat;
              background-size: contain;
              display: inline-block;
              margin-right: 7px;
            }
          }
          &.tel {
            pointer-events: none;
            font-size: 1.9rem;
            line-height: 1;
            align-items: center;
            justify-content: center;
            border: 1px solid #9e9e9e;
            padding: 0 24px 0 25px;
            font-weight: bold;
            height: 100%;
            color: #464646;
            &::before {
              position: relative;
              content: "tel";
              font-size: 1.9rem;
              line-height: 1;
              font-weight: 500;
              margin-right: 10px;
              color: #464646;
            }
          }
        }
      }
    }
  }
  &.fixed {
    .wrap_nav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 999;
    }
  }
}