.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: vw(32) 0;
  background: #fff;
  position: relative;
  h1 {
    font-size: 0;
    width: vw(196);
    a {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .menu_sp {
    cursor: pointer;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: vw(62);
    height: vw(62);
    border: 1px solid #6ea250;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: vw(49);
    .icon_menu {
      position: relative;
      display: inline-flex;
      width: vw(25);
      height: vw(19);
      %menu {
        position: absolute;
        width: 100%;
        height: 100%;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        background: #80ad65;
        right: 0;
      }
      .icon_inner {
        display: block;
        top: 50%;
        transition: background-color 0.2s ease-in 0.25s;
        height: vw(3);
        @extend %menu;
        &::before {
          content: "";
          display: block;
          top: vw(-8);
          left: 0;
          transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
          @extend %menu;
        }
        &::after {
          content: "";
          display: block;
          top: vw(8);
          right: 0;
          transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
          @extend %menu;
        }
      }
    }
    &.open {
      .icon_menu {
        .icon_inner {
          transition-delay: 0s;
          transition-timing-function: ease-out;
          background-color: transparent;
          &::before {
            top: -80px;
            left: -80px;
            transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
            transform: translate3d(80px, 80px, 0) rotate(45deg);
          }
          &::after {
            top: -80px;
            right: -80px;
            transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
            transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          }
        }
      }
    }
  }
  &_nav {
    position: absolute;
    width: calc(100% + #{vw(60)});
    margin: 0 vw(-30);
    height: 0;
    left: 0;
    top: vw(183);
    z-index: 99;
    background: rgba(255, 255, 255, 0.65);
    transition: all 0.5s linear;
    overflow: scroll;
    opacity: 1;
    visibility: visible;
    backface-visibility: visible;
    > ul {
      background: #fff;
      > li {
        &:first-child {
          display: none;
        }
        &:last-child {
          border-bottom: 1px solid #92b97c;
        }
        padding: 0 0 0 vw(38);
        border-top: 1px solid #92b97c;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        > a {
          display: inline-flex;
          align-items: center;
          position: relative;
          font-size: vw(19);
          line-height: 0;
          padding: vw(29) 0 vw(30);
          &::before {
            position: relative;
            content: "";
            width: vw(15);
            height: vw(20);
            background: url('../images/icon_house.png') 0 0 no-repeat;
            background-size: contain;
            margin-right: vw(18);
          }
        }
        > span {
          display: inline-flex;
          width: vw(22);
          height: vw(22);
          position: relative;
          margin-right: vw(72);
          &::before,&::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: #464646;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
          &::after {
            transform-origin: 50% 50%;
            transform: translate(-50%,-50%) rotate(90deg);
            transition: transform 0.3s ease;
          }
        }
        > ul {
          width: calc(100% + #{vw(38)});
          margin-left: vw(-38);
          height: 0;
          overflow: hidden;
          transition: height 0.3s ease;
          > li {
            border-top: 1px solid #92b97c;
            > a {
              font-size: vw(19);
              line-height: vw(29);
              padding: vw(20) 0 vw(20) vw(68);
              display: block;
              width: 100%;
            }
          }
        }
        &.active {
          > span {
            &::after {
              transform: translate(-50%,-50%) rotate(180deg) ;
            }
          }
        }
      }
    }
    &_btn {
      display: none;
    }
    &.open {
      height: 100vh;
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999;
  }
}