@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.gr_ttl{
  background: url(../../common/images/bkg_concept.jpg) top center repeat;
  background-size: contain;
  .wrap{
    display: flex;
    align-items: center;
    padding-right: 0;
    height: vw(200);
    overflow: hidden;
  }
  &_left{
    width: calc(100% - #{vw(350)});
    .ttl{
      font-size: vw(45);
      line-height: 1;
      color: #92b97c;
      letter-spacing: vw(3);
      &::first-letter {
        color:#f4a000;
      }
      span{
        font-size: vw(24);
        line-height: 1;
        display: block;
        margin-top: vw(5);
      }
    }
  }
  &_right{
    width: vw(350);
    figure{
      height: vw(250);
      overflow: hidden;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}