@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.gr_ttl{
  background: url(../../common/images/bkg_concept.jpg) top center repeat;
  background-size: contain;
  .wrap{
    display: flex;
    align-items: center;
  }
  &_left{
    width: calc(100% - 643px);
    .ttl{
      font-size: rem(45);
      line-height: 1;
      color: #92b97c;
      letter-spacing: 2px;
      text-align: center;
      &::first-letter {
        color:#f4a000;
      }
      span{
        font-size: rem(28);
        line-height: 1;
        margin-left: 20px;
      }
    }
  }
  &_right{
    width: 643px;
  }
}