@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_news{
  padding: 95px 0;
  .gr_tax{
    margin-bottom: 150px;
    .list_tax{
      font-size: 0;
      li{
        display: inline-block;
        &:not(:last-child){
          margin: 0 12px 10px 0;
        }
        a{
          font-size: rem(19);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #92b97c;
          color: #fff;
          line-height: 1;
          text-align: center;
          padding: 0 15px;
          font-weight: bold;
          position: relative;
          overflow: hidden;
          transform: translateZ(0);
          height: 41px;
          &:before,&:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: 0.5s ease-in-out;
          }
          &:before{
            right: -50px;
            border-right: 50px solid transparent;
            border-bottom: 41px solid #f4a000;
            transform: translateX(-100%);
          }
          &:after{
            left: -50px;
            border-left: 50px solid transparent;
            border-top: 41px solid #f4a000;
            transform: translateX(100%);
          }
          &:hover{
            &:before{
              transform: translateX(-49%);
            }
            &:after{
              transform: translateX(49%);
            }
          }
        }
      }
    }
  }
  .t_news{
    text-align: center;
    margin-bottom: 37px;
    position: relative;
    font-size: rem(41);
    &:before {
      content:"";
      background: url(../images/icon_02.png) no-repeat;
      width: 203px;
      height: 120px;
      position: absolute;
      top: -45px;
      left: 150px;
    }
    &:after {
      content:"";
      background: url(../images/icon_03.png) no-repeat;
      width: 153px;
      height: 103px;
      position: absolute;
      top: -25px;
      right: 204px;
    }
  }
  .gr_news{
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    background-size: contain;
    .row{
      position: relative;
      display: flex;
      flex-flow: row wrap;
      padding: 62px 0 0;
      &:before {
        content:"";
        background: url(../images/icon_01.png) no-repeat;
        width: 201px;
        height: 71px;
        position: absolute;
        top: -90px;
        left: -113px;
      }
      &:after {
        content:"";
        background: url(../images/icon_04.png) no-repeat;
        width: 166px;
        height: 139px;
        position: absolute;
        top: -165px;
        right: -116px;
      }
    }
    .mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    article{
      width: calc(50% - 55px);
      margin: 0 0 125px 55px;
      &:nth-of-type(3),&:nth-of-type(4){
        margin-bottom: 80px;
      }
      a{
        display: flex;
        align-items: center;
        &:hover{
          opacity:0.8;
        }
      }
      .wrap_svg{
        width: 202px;
        svg {
          width: 202px;
          height: 197px;
          display: block;
          z-index: 1;
          image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          } 
        }
      }
      .main_art{
        width: calc(100% - 202px);
        padding-left: 20px;
        span{
          font-size: rem(14);
          line-height: 1;
          border: 1px solid #b5b5b5;
          color: #464646;
          display: inline-block;
          padding: 5px 27px;
          background-color: #fff;
          margin-bottom: 15px;
        }
        h3{
          font-size: rem(23);
          line-height: 30px;
          color: #464646;
          margin-bottom: 20px;
        }
        p{
          font-size: rem(14);
          line-height: 22px;
        }
      }
    }
  }
  .pag_news{
    margin: 80px 0 120px;
    ul{
      font-size: 0;
      text-align: center;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 60px;
        }
        a{
          font-size: rem(40);
          line-height: 1;
          font-weight: bold;
          position: relative;
          &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background: #92b97c;
            left: 50%;
            bottom: -7px;
            transform-origin: 50% 50%;
            transform: translateX(-50%) scale(0, 1);
            transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
          }
          &:hover{
            &:after{
              transform: translateX(-50%) scale(1, 1);
            }
          }
        }
      }
    }
  }
}
.ctn_blog {
  padding: 84px 0 360px;
  background-color: #fffefa;
  .row {
    display: flex;
  }
  .bx_new {
    width: 815px;
    .top_tt {
      position: relative;
      padding-left: 180px;
      margin-bottom: 40px;
      &:before{
        content:"";
        background: url(../images/icon_02.png) no-repeat;
        background-size: contain;
        width: 171px;
        height: 117px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      span{
        font-size: rem(27);
        line-height: 1;
        font-weight: bold;
        letter-spacing: 1px;
      }
      h3 {
        font-size: rem(40);
        line-height: 50px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
    figure {
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      font-size: rem(18);
      line-height: 30px;
      padding: 0 15px;
    }
    .social {
      margin: 68px 0 165px 15px;
    }
    .b_pag{
      .list_pag{
        display: flex;
        justify-content: center;
        position: relative;
        li{
          width: 221px;
          &:not(:last-child){
            margin-right: 54px;
          }
          &.prev{
            a{
              span{
                padding-left: 30px;
                &:before{
                  content:"<";
                  font-size: rem(19);
                  line-height: 1;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  left: 70px;
                  transform: translateY(-50%);
                  display: inline-block;
                }
              }
            }
          }
          &.next{
            a{
              span{
                padding-right: 30px;
                &:after{
                  content:">";
                  font-size: rem(19);
                  line-height: 1;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  right: 70px;
                  transform: translateY(-50%);
                  display: inline-block;
                }
              }
            }
          }
          a{
            font-size: rem(19);
            line-height: 1;
            color: #fff;
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: #92b97c;
            position: relative;
            overflow: hidden;
            transform: translateZ(0);
            &:before,&:after{
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              transition: 0.5s ease-in-out;
            }
            &:before{
              right: -50px;
              border-right: 50px solid transparent;
              border-bottom: 48px solid #f4a000;
              transform: translateX(-100%);
            }
            &:after{
              left: -50px;
              border-left: 50px solid transparent;
              border-top: 48px solid #f4a000;
              transform: translateX(100%);
            }
            &:hover{
              &:before{
                transform: translateX(-49%);
              }
              &:after{
                transform: translateX(49%);
              }
            }
          }
        }
      }
    }
  }
  .sidebar {
    width: calc(100% - 815px);
    padding-left: 140px;
    text-align: center;
    .btn_read {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 184px;
        height: 51px;
        background: #7e4a18;
        color: #fff;
        font-size: rem(16);
        font-weight: 400;
        border-radius: 7px;
        position: relative;
        margin: 0 auto 38px;
        &:before {
          content: "";
          width: 6px;
          height: 9px;
          background: url(/common/images/icon_nav.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          margin-right: 15px;
        }
      }
    }
    dl {
      margin-bottom: 70px;
      dt {
        font-size: rem(27);
        line-height: 1;
        color: #92b97c;
        font-weight: bold;
        padding-bottom: 8px;
        border-bottom: 9px solid #92b97c;
        text-align: left;
        margin-bottom: 15px;
      }
      dd {
        .list_wg {
          li {
            padding: 15px 0 0 15px;
            text-align: left;
            a {
              font-size: rem(16);
              font-weight: bold;
              line-height: 30px;
              color: #646464;
              &:hover{
                color:#92b97c;
              }
            }
          }
        }
        .bx_slt {
          position: relative;
          &:after {
            content: "";
            width: 34px;
            height: 34px;
            background: #646464 url(../images/icon_down.png) center center no-repeat;
            background-size: 29px 33px;
            position: absolute;
            top: 30px;
            right: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
          .slt_time {
            color: #646464;
            border: 1px solid #646464;
            width: 193px;
            font-size: rem(16);
            font-weight: bold;
            line-height: 1;
            height: 35px;
            border-radius: 8px;
            outline: none;
            cursor: pointer;
            margin-top: 30px;
            padding: 0 30px 0 20px;
          }
        }
      }
    }
  }
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
.datepicker table tr td, .datepicker table tr th{
  vertical-align: middle;
}