@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_news{
  padding: vw(100) 0;
  .gr_tax{
    margin-bottom: vw(100);
    .list_tax{
      font-size: 0;
      li{
        display: inline-block;
        &:not(:last-child){
          margin: 0 vw(15) vw(15) 0;
        }
        a{
          font-size: vw(24);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #92b97c;
          color: #fff;
          line-height: 1;
          text-align: center;
          padding: 0 vw(20);
          font-weight: bold;
          position: relative;
          overflow: hidden;
          transform: translateZ(0);
          height: vw(60);
        }
      }
    }
  }
  .t_news{
    text-align: center;
    margin-bottom: vw(40);
    position: relative;
    font-size: rem(41);
    /* &:before {
      content:"";
      background: url(../images/icon_02.png) no-repeat;
      width: 203px;
      height: 120px;
      position: absolute;
      top: -45px;
      left: 150px;
    }
    &:after {
      content:"";
      background: url(../images/icon_03.png) no-repeat;
      width: 153px;
      height: 103px;
      position: absolute;
      top: -25px;
      right: 204px;
    } */
  }
  .gr_news{
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    background-size: contain;
    padding: vw(30) 0;
    .row{
      position: relative;
      /* &:before {
        content:"";
        background: url(../images/icon_01.png) no-repeat;
        width: 201px;
        height: 71px;
        position: absolute;
        top: -90px;
        left: -113px;
      }
      &:after {
        content:"";
        background: url(../images/icon_04.png) no-repeat;
        width: 166px;
        height: 139px;
        position: absolute;
        top: -165px;
        right: -116px;
      } */
    }
    .mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    article{
      margin: 0 0 vw(60) 0;
      a{
        &:hover{
          opacity:0.8;
        }
      }
      .wrap_svg{
        svg {
          width: vw(230);
          height: vw(207);
          margin: 0 auto;
          display: block;
          z-index: 1;
          image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          } 
        }
      }
      .main_art{
        margin-top: vw(30);
        span{
          font-size: vw(20);
          line-height: 1;
          border: 1px solid #b5b5b5;
          color: #464646;
          display: inline-block;
          padding: vw(10) vw(25);
          background-color: #fff;
          margin-bottom: 15px;
        }
        h3{
          font-size: vw(30);
          line-height: 1.4;
          color: #464646;
          margin-bottom: vw(20);
        }
        p{
          font-size: vw(24);
          line-height: 1.5;
        }
      }
    }
  }
  .pag_news{
    margin: vw(80) 0 vw(120);
    ul{
      font-size: 0;
      text-align: center;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: vw(60);
        }
        a{
          font-size: vw(44);
          line-height: 1;
          font-weight: bold;
          position: relative;
          &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: vw(4);
            background: #92b97c;
            left: 50%;
            bottom: vw(-10);
            transform-origin: 50% 50%;
            transform: translateX(-50%) scale(0, 1);
            transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
          }
          &:hover{
            &:after{
              transform: translateX(-50%) scale(1, 1);
            }
          }
        }
      }
    }
  }
} 
.ctn_blog {
  padding: vw(60) 0 vw(100);
  background-color: #fffefa;
  .bx_new {
    .top_tt {
      position: relative;
      padding-left: vw(180);
      margin-bottom: vw(50);
      &:before{
        content:"";
        background: url(../images/icon_02.png) no-repeat;
        background-size: contain;
        width: vw(171);
        height: vw(117);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      span{
        font-size: vw(28);
        line-height: 1;
        font-weight: bold;
        letter-spacing: 1px;
      }
      h3 {
        font-size: vw(40);
        line-height: vw(50);
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
    figure {
      text-align: center;
      margin-bottom: vw(30);
      img{
        width: 100%;
        height: auto;
      }
    }
    p {
      font-size: vw(24);
      line-height: vw(44);
    }
    .social {
      margin: vw(70) 0;
      img{
        width: 100%;
        height: auto;
      }
    }
    .b_pag{
      .list_pag{
        display: flex;
        justify-content: center;
        position: relative;
        li{
          width: vw(220);
          &:not(:last-child){
            margin-right: vw(50);
          }
          &.prev{
            a{
              span{
                padding-left: vw(10);
                &:before{
                  content:"<";
                  font-size: vw(22);
                  line-height: 1;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  left: vw(30);
                  transform: translateY(-50%);
                  display: inline-block;
                }
              }
            }
          }
          &.next{
            a{
              span{
                padding-left: vw(10);
                &:after{
                  content:">";
                  font-size: vw(22);
                  line-height: 1;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  right: vw(30);
                  transform: translateY(-50%);
                  display: inline-block;
                }
              }
            }
          }
          a{
            font-size: vw(22);
            line-height: 1;
            color: #fff;
            width: 100%;
            height: vw(60);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: #92b97c;
            position: relative;
          }
        }
      }
    }
  }
  .sidebar {
    margin-top: vw(50);
    dl {
      margin-bottom: vw(50);
      dt {
        font-size: vw(30);
        line-height: 1;
        color: #92b97c;
        font-weight: bold;
        padding-bottom: vw(10);
        border-bottom: vw(10) solid #92b97c;
        text-align: left;
        margin-bottom: vw(20);
      }
      dd {
        .list_wg {
          li {
            padding: vw(8) 0;
            text-align: left;
            a {
              font-size: vw(24);
              font-weight: bold;
              line-height: vw(44);
              color: #646464;
              &:hover{
                color:#92b97c;
              }
            }
          }
        }
        .bx_slt {
          position: relative;
          width: vw(300);
          margin: 0 auto;
          &:after {
            content: "";
            width: vw(52);
            height: vw(54);
            background: #646464 url(../images/icon_down.png) center center no-repeat;
            background-size: vw(29) vw(33);
            position: absolute;
            top: vw(30);
            right: 0;
            border-top-right-radius: vw(8);
            border-bottom-right-radius: vw(8);
          }
          .slt_time {
            color: #646464;
            border: 1px solid #646464;
            width: vw(300);
            font-size: vw(24);
            font-weight: bold;
            line-height: 1;
            height: vw(54);
            border-radius: vw(8);
            outline: none;
            cursor: pointer;
            margin-top: vw(30);
            padding: 0 vw(30) 0 vw(20);
          }
        }
      }
    }
  }
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
.datepicker table tr td, .datepicker table tr th{
  vertical-align: middle;
}