@media screen and (min-width: 769px), print {
  .st_news {
    padding: 95px 0;
  }
  .st_news .gr_tax {
    margin-bottom: 150px;
  }
  .st_news .gr_tax .list_tax {
    font-size: 0;
  }
  .st_news .gr_tax .list_tax li {
    display: inline-block;
  }
  .st_news .gr_tax .list_tax li:not(:last-child) {
    margin: 0 12px 10px 0;
  }
  .st_news .gr_tax .list_tax li a {
    font-size: 1.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #92b97c;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    height: 41px;
  }
  .st_news .gr_tax .list_tax li a:before, .st_news .gr_tax .list_tax li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .st_news .gr_tax .list_tax li a:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 41px solid #f4a000;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .st_news .gr_tax .list_tax li a:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 41px solid #f4a000;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .st_news .gr_tax .list_tax li a:hover:before {
    -webkit-transform: translateX(-49%);
       -moz-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
  .st_news .gr_tax .list_tax li a:hover:after {
    -webkit-transform: translateX(49%);
       -moz-transform: translateX(49%);
        -ms-transform: translateX(49%);
            transform: translateX(49%);
  }
  .st_news .t_news {
    text-align: center;
    margin-bottom: 37px;
    position: relative;
    font-size: 4.1rem;
  }
  .st_news .t_news:before {
    content: "";
    background: url(../images/icon_02.png) no-repeat;
    width: 203px;
    height: 120px;
    position: absolute;
    top: -45px;
    left: 150px;
  }
  .st_news .t_news:after {
    content: "";
    background: url(../images/icon_03.png) no-repeat;
    width: 153px;
    height: 103px;
    position: absolute;
    top: -25px;
    right: 204px;
  }
  .st_news .gr_news {
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .st_news .gr_news .row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 62px 0 0;
  }
  .st_news .gr_news .row:before {
    content: "";
    background: url(../images/icon_01.png) no-repeat;
    width: 201px;
    height: 71px;
    position: absolute;
    top: -90px;
    left: -113px;
  }
  .st_news .gr_news .row:after {
    content: "";
    background: url(../images/icon_04.png) no-repeat;
    width: 166px;
    height: 139px;
    position: absolute;
    top: -165px;
    right: -116px;
  }
  .st_news .gr_news .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .st_news .gr_news article {
    width: -webkit-calc(50% - 55px);
    width: -moz-calc(50% - 55px);
    width: calc(50% - 55px);
    margin: 0 0 125px 55px;
  }
  .st_news .gr_news article:nth-of-type(3), .st_news .gr_news article:nth-of-type(4) {
    margin-bottom: 80px;
  }
  .st_news .gr_news article a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_news .gr_news article a:hover {
    opacity: 0.8;
  }
  .st_news .gr_news article .wrap_svg {
    width: 202px;
  }
  .st_news .gr_news article .wrap_svg svg {
    width: 202px;
    height: 197px;
    display: block;
    z-index: 1;
  }
  .st_news .gr_news article .wrap_svg svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .st_news .gr_news article .main_art {
    width: -webkit-calc(100% - 202px);
    width: -moz-calc(100% - 202px);
    width: calc(100% - 202px);
    padding-left: 20px;
  }
  .st_news .gr_news article .main_art span {
    font-size: 1.4rem;
    line-height: 1;
    border: 1px solid #b5b5b5;
    color: #464646;
    display: inline-block;
    padding: 5px 27px;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .st_news .gr_news article .main_art h3 {
    font-size: 2.3rem;
    line-height: 30px;
    color: #464646;
    margin-bottom: 20px;
  }
  .st_news .gr_news article .main_art p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .st_news .pag_news {
    margin: 80px 0 120px;
  }
  .st_news .pag_news ul {
    font-size: 0;
    text-align: center;
  }
  .st_news .pag_news ul li {
    display: inline-block;
  }
  .st_news .pag_news ul li:not(:last-child) {
    margin-right: 60px;
  }
  .st_news .pag_news ul li a {
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    position: relative;
  }
  .st_news .pag_news ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #92b97c;
    left: 50%;
    bottom: -7px;
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(-50%) scale(0, 1);
       -moz-transform: translateX(-50%) scale(0, 1);
        -ms-transform: translateX(-50%) scale(0, 1);
            transform: translateX(-50%) scale(0, 1);
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .st_news .pag_news ul li a:hover:after {
    -webkit-transform: translateX(-50%) scale(1, 1);
       -moz-transform: translateX(-50%) scale(1, 1);
        -ms-transform: translateX(-50%) scale(1, 1);
            transform: translateX(-50%) scale(1, 1);
  }
  .ctn_blog {
    padding: 84px 0 360px;
    background-color: #fffefa;
  }
  .ctn_blog .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ctn_blog .bx_new {
    width: 815px;
  }
  .ctn_blog .bx_new img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .ctn_blog .bx_new .top_tt {
    position: relative;
    padding-left: 180px;
    margin-bottom: 40px;
  }
  .ctn_blog .bx_new .top_tt:before {
    content: "";
    background: url(../images/icon_02.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 171px;
    height: 117px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .ctn_blog .bx_new .top_tt span {
    font-size: 2.7rem;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .ctn_blog .bx_new .top_tt h3 {
    font-size: 4rem;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .ctn_blog .bx_new figure {
    text-align: center;
    margin-bottom: 30px;
  }
  .ctn_blog .bx_new figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .ctn_blog .bx_new p {
    font-size: 1.8rem;
    line-height: 30px;
    padding: 0 15px;
  }
  .ctn_blog .bx_new .social {
    margin: 68px 0 165px 15px;
  }
  .ctn_blog .bx_new .b_pag .list_pag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .ctn_blog .bx_new .b_pag .list_pag li {
    width: 221px;
  }
  .ctn_blog .bx_new .b_pag .list_pag li:not(:last-child) {
    margin-right: 54px;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.prev a span {
    padding-left: 30px;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.prev a span:before {
    content: "<";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.next a span {
    padding-right: 30px;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.next a span:after {
    content: ">";
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 70px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .ctn_blog .bx_new .b_pag .list_pag li a {
    font-size: 1.9rem;
    line-height: 1;
    color: #fff;
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    background-color: #92b97c;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .ctn_blog .bx_new .b_pag .list_pag li a:before, .ctn_blog .bx_new .b_pag .list_pag li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .ctn_blog .bx_new .b_pag .list_pag li a:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 48px solid #f4a000;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .ctn_blog .bx_new .b_pag .list_pag li a:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 48px solid #f4a000;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .ctn_blog .bx_new .b_pag .list_pag li a:hover:before {
    -webkit-transform: translateX(-49%);
       -moz-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
  .ctn_blog .bx_new .b_pag .list_pag li a:hover:after {
    -webkit-transform: translateX(49%);
       -moz-transform: translateX(49%);
        -ms-transform: translateX(49%);
            transform: translateX(49%);
  }
  .ctn_blog .sidebar {
    width: -webkit-calc(100% - 815px);
    width: -moz-calc(100% - 815px);
    width: calc(100% - 815px);
    padding-left: 140px;
    text-align: center;
  }
  .ctn_blog .sidebar .btn_read a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 184px;
    height: 51px;
    background: #7e4a18;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    -moz-border-radius: 7px;
         border-radius: 7px;
    position: relative;
    margin: 0 auto 38px;
  }
  .ctn_blog .sidebar .btn_read a:before {
    content: "";
    width: 6px;
    height: 9px;
    background: url(/common/images/icon_nav.png) 0 0 no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    margin-right: 15px;
  }
  .ctn_blog .sidebar dl {
    margin-bottom: 70px;
  }
  .ctn_blog .sidebar dl dt {
    font-size: 2.7rem;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 9px solid #92b97c;
    text-align: left;
    margin-bottom: 15px;
  }
  .ctn_blog .sidebar dl dd .list_wg li {
    padding: 15px 0 0 15px;
    text-align: left;
  }
  .ctn_blog .sidebar dl dd .list_wg li a {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 30px;
    color: #646464;
  }
  .ctn_blog .sidebar dl dd .list_wg li a:hover {
    color: #92b97c;
  }
  .ctn_blog .sidebar dl dd .bx_slt {
    position: relative;
  }
  .ctn_blog .sidebar dl dd .bx_slt:after {
    content: "";
    width: 34px;
    height: 34px;
    background: #646464 url(../images/icon_down.png) center center no-repeat;
    -moz-background-size: 29px 33px;
         background-size: 29px 33px;
    position: absolute;
    top: 30px;
    right: 0;
    -moz-border-radius-topright: 8px;
         border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
         border-bottom-right-radius: 8px;
  }
  .ctn_blog .sidebar dl dd .bx_slt .slt_time {
    color: #646464;
    border: 1px solid #646464;
    width: 193px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    height: 35px;
    -moz-border-radius: 8px;
         border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 0 30px 0 20px;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4px;
         border-radius: 4px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-background-clip: padding-box;
         background-clip: padding-box;
  }
  .datepicker table tr td, .datepicker table tr th {
    vertical-align: middle;
  }
}

@media screen and (max-width: 768px) {
  .st_news {
    padding: 15.625vw 0;
  }
  .st_news .gr_tax {
    margin-bottom: 15.625vw;
  }
  .st_news .gr_tax .list_tax {
    font-size: 0;
  }
  .st_news .gr_tax .list_tax li {
    display: inline-block;
  }
  .st_news .gr_tax .list_tax li:not(:last-child) {
    margin: 0 2.34375vw 2.34375vw 0;
  }
  .st_news .gr_tax .list_tax li a {
    font-size: 3.75vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #92b97c;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 0 3.125vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    height: 9.375vw;
  }
  .st_news .t_news {
    text-align: center;
    margin-bottom: 6.25vw;
    position: relative;
    font-size: 4.1rem;
    /* &:before {
      content:"";
      background: url(../images/icon_02.png) no-repeat;
      width: 203px;
      height: 120px;
      position: absolute;
      top: -45px;
      left: 150px;
    }
    &:after {
      content:"";
      background: url(../images/icon_03.png) no-repeat;
      width: 153px;
      height: 103px;
      position: absolute;
      top: -25px;
      right: 204px;
    } */
  }
  .st_news .gr_news {
    position: relative;
    background: url(../images/bkg_news.png) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 4.6875vw 0;
  }
  .st_news .gr_news .row {
    position: relative;
    /* &:before {
        content:"";
        background: url(../images/icon_01.png) no-repeat;
        width: 201px;
        height: 71px;
        position: absolute;
        top: -90px;
        left: -113px;
      }
      &:after {
        content:"";
        background: url(../images/icon_04.png) no-repeat;
        width: 166px;
        height: 139px;
        position: absolute;
        top: -165px;
        right: -116px;
      } */
  }
  .st_news .gr_news .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .st_news .gr_news article {
    margin: 0 0 9.375vw 0;
  }
  .st_news .gr_news article a:hover {
    opacity: 0.8;
  }
  .st_news .gr_news article .wrap_svg svg {
    width: 35.9375vw;
    height: 32.34375vw;
    margin: 0 auto;
    display: block;
    z-index: 1;
  }
  .st_news .gr_news article .wrap_svg svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .st_news .gr_news article .main_art {
    margin-top: 4.6875vw;
  }
  .st_news .gr_news article .main_art span {
    font-size: 3.125vw;
    line-height: 1;
    border: 1px solid #b5b5b5;
    color: #464646;
    display: inline-block;
    padding: 1.5625vw 3.90625vw;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .st_news .gr_news article .main_art h3 {
    font-size: 4.6875vw;
    line-height: 1.4;
    color: #464646;
    margin-bottom: 20px;
  }
  .st_news .gr_news article .main_art p {
    font-size: 3.75vw;
    line-height: 1.5;
  }
  .st_news .pag_news {
    margin: 12.5vw 0 18.75vw;
  }
  .st_news .pag_news ul {
    font-size: 0;
    text-align: center;
  }
  .st_news .pag_news ul li {
    display: inline-block;
  }
  .st_news .pag_news ul li:not(:last-child) {
    margin-right: 9.375vw;
  }
  .st_news .pag_news ul li a {
    font-size: 6.875vw;
    line-height: 1;
    font-weight: bold;
    position: relative;
  }
  .st_news .pag_news ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.625vw;
    background: #92b97c;
    left: 50%;
    bottom: -1.5625vw;
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(-50%) scale(0, 1);
       -moz-transform: translateX(-50%) scale(0, 1);
        -ms-transform: translateX(-50%) scale(0, 1);
            transform: translateX(-50%) scale(0, 1);
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .st_news .pag_news ul li a:hover:after {
    -webkit-transform: translateX(-50%) scale(1, 1);
       -moz-transform: translateX(-50%) scale(1, 1);
        -ms-transform: translateX(-50%) scale(1, 1);
            transform: translateX(-50%) scale(1, 1);
  }
  .ctn_blog {
    padding: 9.375vw 0 15.625vw;
    background-color: #fffefa;
  }
  .ctn_blog .bx_new .top_tt {
    position: relative;
    padding-left: 28.125vw;
    margin-bottom: 7.8125vw;
  }
  .ctn_blog .bx_new .top_tt:before {
    content: "";
    background: url(../images/icon_02.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 26.71875vw;
    height: 18.28125vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .ctn_blog .bx_new .top_tt span {
    font-size: 4.375vw;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .ctn_blog .bx_new .top_tt h3 {
    font-size: 6.25vw;
    line-height: 7.8125vw;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .ctn_blog .bx_new figure {
    text-align: center;
    margin-bottom: 30px;
  }
  .ctn_blog .bx_new img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .ctn_blog .bx_new p {
    font-size: 3.75vw;
    line-height: 6.875vw;
  }
  .ctn_blog .bx_new .social {
    margin: 10.9375vw 0;
  }
  .ctn_blog .bx_new .social img {
    width: 100%;
    height: auto;
  }
  .ctn_blog .bx_new .b_pag .list_pag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .ctn_blog .bx_new .b_pag .list_pag li {
    width: 34.375vw;
  }
  .ctn_blog .bx_new .b_pag .list_pag li:not(:last-child) {
    margin-right: 7.8125vw;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.prev a span {
    padding-left: 1.5625vw;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.prev a span:before {
    content: "<";
    font-size: 3.4375vw;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 4.6875vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.next a span {
    padding-left: 1.5625vw;
  }
  .ctn_blog .bx_new .b_pag .list_pag li.next a span:after {
    content: ">";
    font-size: 3.4375vw;
    line-height: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 4.6875vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
  }
  .ctn_blog .bx_new .b_pag .list_pag li a {
    font-size: 3.4375vw;
    line-height: 1;
    color: #fff;
    width: 100%;
    height: 9.375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    background-color: #92b97c;
    position: relative;
  }
  .ctn_blog .sidebar {
    margin-top: 7.8125vw;
  }
  .ctn_blog .sidebar dl {
    margin-bottom: 7.8125vw;
  }
  .ctn_blog .sidebar dl dt {
    font-size: 4.6875vw;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    padding-bottom: 1.5625vw;
    border-bottom: 1.5625vw solid #92b97c;
    text-align: left;
    margin-bottom: 3.125vw;
  }
  .ctn_blog .sidebar dl dd .list_wg li {
    padding: 1.25vw 0;
    text-align: left;
  }
  .ctn_blog .sidebar dl dd .list_wg li a {
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 6.875vw;
    color: #646464;
  }
  .ctn_blog .sidebar dl dd .list_wg li a:hover {
    color: #92b97c;
  }
  .ctn_blog .sidebar dl dd .bx_slt {
    position: relative;
    width: 46.875vw;
    margin: 0 auto;
  }
  .ctn_blog .sidebar dl dd .bx_slt:after {
    content: "";
    width: 8.125vw;
    height: 8.4375vw;
    background: #646464 url(../images/icon_down.png) center center no-repeat;
    -moz-background-size: 4.53125vw 5.15625vw;
         background-size: 4.53125vw 5.15625vw;
    position: absolute;
    top: 4.6875vw;
    right: 0;
    -moz-border-radius-topright: 1.25vw;
         border-top-right-radius: 1.25vw;
    -moz-border-radius-bottomright: 1.25vw;
         border-bottom-right-radius: 1.25vw;
  }
  .ctn_blog .sidebar dl dd .bx_slt .slt_time {
    color: #646464;
    border: 1px solid #646464;
    width: 46.875vw;
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 1;
    height: 8.4375vw;
    -moz-border-radius: 1.25vw;
         border-radius: 1.25vw;
    outline: none;
    cursor: pointer;
    margin-top: 4.6875vw;
    padding: 0 4.6875vw 0 3.125vw;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4px;
         border-radius: 4px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-background-clip: padding-box;
         background-clip: padding-box;
  }
  .datepicker table tr td, .datepicker table tr th {
    vertical-align: middle;
  }
}
