@media screen and (min-width: 769px), print {
  .think {
    margin-top: 30px;
  }
  .think figure {
    position: relative;
  }
  .think figure img {
    width: 100%;
    height: auto;
  }
  .think figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .think figure figcaption em {
    font-size: 7.2rem;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    position: relative;
    display: inline-block;
    padding: 0 77px;
  }
  .think figure figcaption em::before, .think figure figcaption em::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 69px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .think figure figcaption em::before {
    background: url("../images/left_think.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
  }
  .think figure figcaption em::after {
    background: url("../images/right_think.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 0;
  }
  .think figure figcaption span {
    font-size: 3.6rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 37px;
    color: #fff;
  }
  .polygon {
    background: url("../images/bg4think.png") 0 0 repeat;
    padding: 0 0 94px;
  }
  .polygon_row ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 50px 0 0;
  }
  .polygon_row ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .polygon_row ul li:not(:last-child) {
    margin-bottom: 36px;
  }
  .polygon_row ul li:not(:last-child)::after {
    position: relative;
    content: "+";
    font-size: 3.7rem;
    line-height: 0.8;
    font-weight: bold;
    display: inline-block;
    margin: 0 19px;
  }
  .polygon_row ul li:nth-of-type(4)::after {
    position: relative;
    content: "=";
    font-size: 3.7rem;
    line-height: 0.8;
    font-weight: bold;
    display: inline-block;
    margin: 0 35px 0 48px;
  }
  .polygon_row p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-top: 40px;
  }
  .make {
    padding: 125px 0 0;
  }
  .make > p {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    margin-top: 43px;
    text-align: center;
  }
  .make_wrap {
    margin-top: 25px;
  }
  .make_wrap article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
  }
  .make_wrap article:not(:first-child) {
    margin-top: 25px;
  }
  .make_wrap article figure {
    position: relative;
    width: 439px;
    line-height: 0;
  }
  .make_wrap article figure > img {
    width: 100%;
    height: auto;
  }
  .make_wrap article figure span {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: -61px;
  }
  .make_wrap article figure span img:nth-of-type(2) {
    margin-top: 23px;
  }
  .make_wrap article .make_right {
    width: -webkit-calc(100% - 439px);
    width: -moz-calc(100% - 439px);
    width: calc(100% - 439px);
    padding: 0 93px 0 115px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .make_wrap article .make_right h3 {
    font-size: 2.3rem;
    line-height: 28px;
    font-weight: bold;
  }
  .make_wrap article .make_right p {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    margin-top: 20px;
  }
  .make_wrap article .make_right .color1 {
    color: #dabd60;
  }
  .make_wrap article .make_right .color2 {
    color: #e78f71;
  }
  .make_wrap article .make_right .color3 {
    color: #6cdbcd;
  }
  .make_wrap article .make_right .color4 {
    color: #9cc673;
  }
  .make_result {
    margin-top: 140px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .make_result article {
    width: -webkit-calc((100% - 28px) / 2);
    width: -moz-calc((100% - 28px) / 2);
    width: calc((100% - 28px) / 2);
    background: url("../images/bg_result.png") 0 0 repeat;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
    padding: 0 25px 0 31px;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .make_result article::before {
    position: absolute;
    content: "";
    z-index: -1;
  }
  .make_result article .make_result_t .make_result_ttl {
    padding: 43px 0 0 30px;
    position: relative;
  }
  .make_result article .make_result_t .make_result_ttl::before {
    position: absolute;
    content: "";
    width: 17px;
    height: -webkit-calc(100% + 13px);
    height: -moz-calc(100% + 13px);
    height: calc(100% + 13px);
    top: -13px;
    left: 0;
    background: #92b97c;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
  }
  .make_result article .make_result_t .make_result_ttl span {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500;
  }
  .make_result article .make_result_t .make_result_ttl h3 {
    font-size: 2.6rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 10px;
  }
  .make_result article .make_result_t p {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    margin-top: 30px;
  }
  .make_result article dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border: 3px solid #92b97c;
  }
  .make_result article dl dt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 111px;
    border-right: 3px solid #92b97c;
    font-size: 1.7rem;
    color: #92b97c;
    font-weight: bold;
  }
  .make_result article dl dd {
    width: -webkit-calc(100% - 111px);
    width: -moz-calc(100% - 111px);
    width: calc(100% - 111px);
    padding: 0 0 0 11px;
    font-size: 1.7rem;
    line-height: 24px;
  }
  .make_result article dl:not(:first-child) {
    margin-top: 12px;
  }
  .make_result article figure {
    text-align: center;
  }
  .make_result article figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .make_result article:not(:nth-of-type(-n+2)) {
    margin-top: 35px;
  }
  .make_result article:nth-of-type(1)::before {
    width: 236px;
    height: 82px;
    background: url("../images/icon_02.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 23px;
    top: 25px;
  }
  .make_result article:nth-of-type(1) figure {
    margin-top: 33px;
  }
  .make_result article:nth-of-type(2) {
    padding-bottom: 28px;
  }
  .make_result article:nth-of-type(2)::before {
    width: 162px;
    height: 117px;
    background: url("../images/icon_03.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 5px;
    top: 15px;
  }
  .make_result article:nth-of-type(2) figure {
    margin-top: 13px;
  }
  .make_result article:nth-of-type(3) {
    padding-bottom: 28px;
  }
  .make_result article:nth-of-type(3) .make_result_t p {
    margin-top: 52px;
  }
  .make_result article:nth-of-type(3)::before {
    width: 201px;
    height: 137px;
    background: url("../images/icon.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 14px;
    top: 30px;
  }
  .make_result article:nth-of-type(3) figure {
    margin-top: 46px;
  }
  .make_result article:nth-of-type(4) {
    padding-bottom: 33px;
  }
  .make_result article:nth-of-type(4) .make_result_t p {
    margin-top: 19px;
  }
  .make_result article:nth-of-type(4)::before {
    width: 171px;
    height: 193px;
    background: url("../images/flower.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 18px;
    top: 24px;
  }
  .make_result article:nth-of-type(4) figure {
    margin-top: 24px;
  }
  .make_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 86px;
  }
  .make_btn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 385px;
    height: 71px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.9rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background: #92b97c;
  }
  .make_btn a:not(:first-child) {
    margin-left: 29px;
  }
  .flow {
    margin-top: 199px;
    margin-bottom: 204px;
  }
  .flow > p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  .flow > p span {
    display: block;
    font-size: 2rem;
    color: #92b97c;
    margin-top: 17px;
  }
  .flow_wrap {
    background: url("../images/bkg_news.png") 0 0 repeat;
    margin-top: 42px;
    padding: 70px 0 0;
  }
  .flow_wrap_row article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 26px 54px 30px;
    border-bottom: 1px solid #92b97c;
  }
  .flow_wrap_row article:not(:first-child) {
    margin-top: 63px;
  }
  .flow_wrap_row article figure {
    width: 477px;
    position: relative;
  }
  .flow_wrap_row article figure img {
    width: 100%;
    height: auto;
  }
  .flow_wrap_row article figure span {
    position: absolute;
    width: 84px;
    height: 154px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 6.5rem;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    background: #92b97c;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
    top: -17px;
    left: -14px;
  }
  .flow_wrap_row article figure span::before {
    position: relative;
    content: "STEP";
    font-size: 2.2rem;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .flow_wrap_row article .right {
    width: -webkit-calc(100% - 477px - 54px);
    width: -moz-calc(100% - 477px - 54px);
    width: calc(100% - 477px - 54px);
  }
  .flow_wrap_row article .right h3 {
    font-size: 3.2rem;
    line-height: 40px;
    color: #92b97c;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .flow_wrap_row article .right p {
    font-size: 1.6rem;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .flow_wrap_row article .right dl dt {
    font-size: 1.9rem;
    line-height: 23px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 12px;
    background: #a5c493;
  }
  .flow_wrap_row article .right dl dd {
    font-size: 1.6rem;
    line-height: 26px;
    margin-top: 13px;
  }
  .flow_wrap_row article .right_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flow_wrap_row article .right_wrap dl {
    width: -webkit-calc((100% - 52px) / 2);
    width: -moz-calc((100% - 52px) / 2);
    width: calc((100% - 52px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .think {
    margin-top: 10.9375vw;
  }
  .think figure {
    position: relative;
  }
  .think figure img {
    width: 100%;
    height: auto;
  }
  .think figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .think figure figcaption em {
    font-size: 11.25vw;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    position: relative;
    display: inline-block;
    padding: 0 10.9375vw;
  }
  .think figure figcaption em::before, .think figure figcaption em::after {
    position: absolute;
    content: "";
    width: 2.5vw;
    height: 10.78125vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .think figure figcaption em::before {
    background: url("../images/left_think.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
  }
  .think figure figcaption em::after {
    background: url("../images/right_think.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 0;
  }
  .think figure figcaption span {
    font-size: 4.6875vw;
    line-height: 1;
    font-weight: bold;
    margin-top: 4.6875vw;
    color: #fff;
  }
  .polygon {
    background: url("../images/bg4think.png") 0 0 repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 0 0 14.0625vw;
  }
  .polygon_row ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 7.8125vw 0 0;
  }
  .polygon_row ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .polygon_row ul li:not(:last-child) img {
    width: 15.625vw;
    height: auto;
  }
  .polygon_row ul li:not(:nth-last-child(-n+2))::after {
    position: relative;
    content: "+";
    font-size: 4.6875vw;
    line-height: 0.8;
    font-weight: bold;
    display: inline-block;
    margin: 0 2.34375vw;
  }
  .polygon_row ul li:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .polygon_row ul li:last-child img {
    width: 29.21875vw;
    height: auto;
  }
  .polygon_row ul li:last-child::before {
    position: relative;
    content: "=";
    font-size: 4.6875vw;
    line-height: 0.8;
    font-weight: bold;
    display: inline-block;
    margin: 2.34375vw 0;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .polygon_row p {
    text-align: center;
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 6.25vw;
  }
  .make {
    padding: 12.5vw 0 0;
  }
  .make .ttl_gr span {
    font-size: 4.6875vw;
  }
  .make > p {
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 6.25vw;
    text-align: center;
  }
  .make_wrap {
    margin-top: 3.90625vw;
  }
  .make_wrap article {
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
  }
  .make_wrap article::after {
    clear: both;
    content: "";
    display: table;
  }
  .make_wrap article:not(:first-child) {
    margin-top: 3.90625vw;
  }
  .make_wrap article figure {
    position: relative;
    width: 100%;
    line-height: 0;
    text-align: center;
  }
  .make_wrap article figure > img {
    width: 100%;
    height: auto;
  }
  .make_wrap article figure span {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: -6.875vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .make_wrap article figure span img {
    width: 19.0625vw;
  }
  .make_wrap article figure span img:nth-of-type(2) {
    margin-left: 3.4375vw;
  }
  .make_wrap article .make_right {
    margin-top: 12.5vw;
    padding: 0 4.6875vw 4.6875vw;
  }
  .make_wrap article .make_right h3 {
    font-size: 4.6875vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
  }
  .make_wrap article .make_right h3 span:nth-of-type(2) {
    display: block;
  }
  .make_wrap article .make_right p {
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 3.125vw;
  }
  .make_wrap article .make_right .color1 {
    color: #dabd60;
  }
  .make_wrap article .make_right .color2 {
    color: #e78f71;
  }
  .make_wrap article .make_right .color3 {
    color: #6cdbcd;
  }
  .make_wrap article .make_right .color4 {
    color: #9cc673;
  }
  .make_result {
    margin-top: 15.625vw;
  }
  .make_result article {
    width: 100%;
    background: url("../images/bg_result.png") 0 0 repeat;
    -moz-background-size: cover;
         background-size: cover;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
    padding: 0 3.90625vw 4.6875vw 4.6875vw;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .make_result article::before {
    position: absolute;
    content: "";
    z-index: -1;
  }
  .make_result article .make_result_t .make_result_ttl {
    padding: 6.25vw 0 0 4.6875vw;
    position: relative;
  }
  .make_result article .make_result_t .make_result_ttl::before {
    position: absolute;
    content: "";
    width: 2.65625vw;
    height: -webkit-calc(100% + 2.03125vw);
    height: -moz-calc(100% + 2.03125vw);
    height: calc(100% + 2.03125vw);
    top: -2.03125vw;
    left: 0;
    background: #92b97c;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
  }
  .make_result article .make_result_t .make_result_ttl span {
    font-size: 3.125vw;
    line-height: 1;
    font-weight: 500;
  }
  .make_result article .make_result_t .make_result_ttl h3 {
    font-size: 4.6875vw;
    line-height: 1;
    font-weight: bold;
    margin-top: 3.125vw;
  }
  .make_result article .make_result_t p {
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 4.6875vw;
  }
  .make_result article dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border: 3px solid #92b97c;
  }
  .make_result article dl dt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 31.25vw;
    border-right: 3px solid #92b97c;
    font-size: 3.125vw;
    color: #92b97c;
    font-weight: bold;
  }
  .make_result article dl dd {
    width: -webkit-calc(100% - 31.25vw);
    width: -moz-calc(100% - 31.25vw);
    width: calc(100% - 31.25vw);
    padding: 0 1.5625vw;
    font-size: 3.125vw;
    line-height: 1.5;
  }
  .make_result article dl:not(:first-child) {
    margin-top: 3.125vw;
  }
  .make_result article figure {
    text-align: center;
    margin-top: 4.6875vw;
  }
  .make_result article figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .make_result article:not(:nth-of-type(-n+1)) {
    margin-top: 5.46875vw;
  }
  .make_result article:nth-of-type(1)::before {
    width: 36.875vw;
    height: 12.8125vw;
    background: url("../images/icon_02.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 3.59375vw;
    top: 3.90625vw;
  }
  .make_result article:nth-of-type(2)::before {
    width: 25.3125vw;
    height: 18.28125vw;
    background: url("../images/icon_03.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 1.5625vw;
    top: 4.6875vw;
  }
  .make_result article:nth-of-type(3)::before {
    width: 31.40625vw;
    height: 21.40625vw;
    background: url("../images/icon.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 2.1875vw;
    top: 4.6875vw;
  }
  .make_result article:nth-of-type(4)::before {
    width: 26.71875vw;
    height: 30.15625vw;
    background: url("../images/flower.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    right: 2.8125vw;
    top: 3.75vw;
  }
  .make_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7.1875vw;
  }
  .make_btn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 43.75vw;
    height: 9.375vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.125vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background: #92b97c;
  }
  .make_btn a:not(:first-child) {
    margin-left: 4.6875vw;
  }
  .flow {
    margin-top: 15.625vw;
    margin-bottom: 15.625vw;
  }
  .flow > p {
    font-size: 3.75vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  .flow > p span {
    display: block;
    font-size: 2.8125vw;
    color: #92b97c;
    margin-top: 2.34375vw;
  }
  .flow_wrap {
    background: url("../images/bkg_news.png") 0 0 repeat;
    margin-top: 6.5625vw;
    padding: 10.9375vw 0 0;
  }
  .flow_wrap_row article {
    padding: 0 0 4.6875vw;
    border-bottom: 1px solid #92b97c;
  }
  .flow_wrap_row article:not(:first-child) {
    margin-top: 6.25vw;
  }
  .flow_wrap_row article figure {
    position: relative;
  }
  .flow_wrap_row article figure img {
    width: 100%;
    height: auto;
  }
  .flow_wrap_row article figure span {
    position: absolute;
    width: 13.125vw;
    height: 24.0625vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 10.15625vw;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    background: #92b97c;
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
         box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
    top: -2.65625vw;
    left: -2.1875vw;
  }
  .flow_wrap_row article figure span::before {
    position: relative;
    content: "STEP";
    font-size: 3.4375vw;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2.03125vw;
  }
  .flow_wrap_row article .right {
    width: 100%;
  }
  .flow_wrap_row article .right h3 {
    font-size: 4.6875vw;
    line-height: 40px;
    color: #92b97c;
    font-weight: bold;
    margin-top: 3.125vw;
  }
  .flow_wrap_row article .right p {
    font-size: 3.125vw;
    line-height: 1.5;
    margin-top: 3.125vw;
    margin-bottom: 3.125vw;
  }
  .flow_wrap_row article .right dl dt {
    font-size: 3.125vw;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 1.875vw;
    background: #a5c493;
  }
  .flow_wrap_row article .right dl dd {
    font-size: 2.5vw;
    line-height: 1.5;
    margin-top: 2.03125vw;
  }
  .flow_wrap_row article .right_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flow_wrap_row article .right_wrap dl {
    width: -webkit-calc((100% - 8.125vw) / 2);
    width: -moz-calc((100% - 8.125vw) / 2);
    width: calc((100% - 8.125vw) / 2);
  }
}
