@media screen and (min-width: 769px), print {
  .gr_about {
    padding: 120px 0 200px;
  }
  .gr_about_top {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 100px 0 70px;
  }
  .gr_about_top .ttl_gr {
    font-size: 6.2rem;
    color: #92b97c;
  }
  .gr_about_top .row {
    padding: 0 75px;
  }
  .gr_about_top .b_avt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_about_top .b_avt figure {
    width: 305px;
  }
  .gr_about_top .b_avt .right {
    width: -webkit-calc(100% - 305px);
    width: -moz-calc(100% - 305px);
    width: calc(100% - 305px);
    padding-left: 55px;
  }
  .gr_about_top .b_avt .right p {
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: bold;
  }
  .gr_about_top .b_avt .right p + p {
    margin-top: 40px;
  }
  .gr_about_top .b_dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 45px 0 60px;
  }
  .gr_about_top .b_dl dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_about_top .b_dl dl dt {
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: bold;
  }
  .gr_about_top .b_dl dl dd {
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: bold;
  }
  .gr_about_top .b_dl_left {
    width: 395px;
    border-left: 1px solid #464646;
    padding-left: 20px;
  }
  .gr_about_top .b_dl_right {
    width: -webkit-calc(100% - 395px);
    width: -moz-calc(100% - 395px);
    width: calc(100% - 395px);
    border-left: 1px solid #464646;
    padding-left: 20px;
  }
  .gr_about_top .gr_img {
    background: rgba(146, 185, 124, 0.65);
    width: 100%;
    padding: 26px 0 24px;
  }
  .gr_about_top .gr_img .list_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
  }
  .gr_about_top .gr_img .list_img li {
    width: -webkit-calc(20% - 15px);
    width: -moz-calc(20% - 15px);
    width: calc(20% - 15px);
    margin-left: 15px;
  }
  .gr_about_top .gr_img .list_img li img {
    width: 100%;
    height: auto;
  }
  .gr_about_center {
    padding: 120px 0 115px;
  }
  .gr_about_center .ttl_gr {
    font-size: 4rem;
    color: #92b97c;
    margin-bottom: 62px;
  }
  .gr_about_center .b_profile {
    max-width: 748px;
    margin: 0 auto;
  }
  .gr_about_center .b_profile dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 13px 0;
  }
  .gr_about_center .b_profile dl:nth-child(odd) {
    background-color: #f3f3f3;
  }
  .gr_about_center .b_profile dl dt {
    font-size: 1.8rem;
    line-height: 28px;
    width: 205px;
    font-weight: bold;
    padding-left: 50px;
  }
  .gr_about_center .b_profile dl dd {
    width: -webkit-calc(100% - 205px);
    width: -moz-calc(100% - 205px);
    width: calc(100% - 205px);
  }
  .gr_about_center .b_profile dl dd em {
    font-size: 1.8rem;
    line-height: 28px;
    font-style: normal;
    font-weight: bold;
  }
  .gr_about_center .b_profile dl dd .tel {
    pointer-events: none;
    color: #464646;
  }
  .gr_about_center .b_profile dl dd ul li {
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: bold;
    margin: 5px 0;
  }
  .gr_about_access .ttl_gr {
    font-size: 4rem;
    color: #92b97c;
    margin-bottom: 62px;
  }
  .gr_about_access .map iframe {
    width: 100%;
    height: 430px;
  }
  .gr_about_bottom {
    padding: 115px 0 100px;
  }
  .gr_about_bottom .ttl_gr {
    font-size: 4rem;
    color: #92b97c;
    margin-bottom: 62px;
  }
  .gr_about_bottom .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gr_about_bottom .right {
    padding-left: 80px;
  }
  .gr_about_bottom .right p {
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: bold;
  }
  .gr_about_bottom .right p + p {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .gr_about {
    padding: 15.625vw 0;
  }
  .gr_about_top {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 9.375vw 0;
  }
  .gr_about_top .ttl_gr {
    font-size: 6.2rem;
    color: #92b97c;
  }
  .gr_about_top .b_avt figure {
    text-align: center;
    margin-bottom: 4.6875vw;
  }
  .gr_about_top .b_avt figure img {
    width: 100%;
    height: auto;
  }
  .gr_about_top .b_avt .right p {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
  }
  .gr_about_top .b_avt .right p + p {
    margin-top: 4.6875vw;
  }
  .gr_about_top .b_dl {
    margin: 3.125vw 0 7.8125vw;
  }
  .gr_about_top .b_dl dl dt {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
    display: inline-block;
  }
  .gr_about_top .b_dl dl dd {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
    display: inline-block;
  }
  .gr_about_top .b_dl_left {
    border-left: 1px solid #464646;
    padding-left: 3.125vw;
    margin-bottom: 4.6875vw;
  }
  .gr_about_top .b_dl_right {
    border-left: 1px solid #464646;
    padding-left: 3.125vw;
  }
  .gr_about_top .gr_img {
    background: rgba(146, 185, 124, 0.65);
    width: 100%;
    padding: 4.6875vw 0;
  }
  .gr_about_top .gr_img .list_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -3.125vw;
  }
  .gr_about_top .gr_img .list_img li {
    width: -webkit-calc(33.33% - 3.125vw);
    width: -moz-calc(33.33% - 3.125vw);
    width: calc(33.33% - 3.125vw);
    margin: 0 0 3.125vw 3.125vw;
  }
  .gr_about_top .gr_img .list_img li img {
    width: 100%;
    height: auto;
  }
  .gr_about_center {
    padding: 15.625vw 0;
  }
  .gr_about_center .ttl_gr {
    font-size: 6.25vw;
    color: #92b97c;
    margin-bottom: 7.8125vw;
  }
  .gr_about_center .b_profile {
    margin: 0 auto;
  }
  .gr_about_center .b_profile dl {
    padding: 2.34375vw 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gr_about_center .b_profile dl:nth-child(odd) {
    background-color: #f3f3f3;
  }
  .gr_about_center .b_profile dl dt {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
    padding-left: 3.125vw;
    width: 25vw;
  }
  .gr_about_center .b_profile dl dd {
    padding-left: 3.125vw;
    width: -webkit-calc(100% - 29.6875vw);
    width: -moz-calc(100% - 29.6875vw);
    width: calc(100% - 29.6875vw);
  }
  .gr_about_center .b_profile dl dd em {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-style: normal;
    font-weight: bold;
  }
  .gr_about_center .b_profile dl dd .tel {
    pointer-events: none;
    color: #464646;
  }
  .gr_about_center .b_profile dl dd ul li {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
    margin: 0.78125vw 0;
  }
  .gr_about_access .ttl_gr {
    font-size: 6.25vw;
    color: #92b97c;
    margin-bottom: 7.8125vw;
  }
  .gr_about_access .map iframe {
    width: 100%;
    height: 46.875vw;
  }
  .gr_about_bottom {
    padding: 15.625vw 0 0;
  }
  .gr_about_bottom .ttl_gr {
    font-size: 6.25vw;
    color: #92b97c;
    margin-bottom: 7.8125vw;
  }
  .gr_about_bottom figure img {
    width: 77.03125vw;
    height: auto;
  }
  .gr_about_bottom .right {
    margin-top: 3.125vw;
  }
  .gr_about_bottom .right p {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
  }
  .gr_about_bottom .right p + p {
    margin-top: 4.6875vw;
  }
}
