@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.think {
  margin-top: 70px;
  figure {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      em {
        font-size: 7.2rem;
        line-height: 1;
        color: #fff;
        font-weight: 700;
        font-style: normal;
        position: relative;
        display: inline-block;
        padding: 0 77px;
        &::before,&::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 69px;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          background: url('../images/left_think.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
        }
        &::after {
          background: url('../images/right_think.png') 0 0 no-repeat;
          background-size: contain;
          right: 0;
        }
      }
      span {
        font-size: 3.6rem;
        line-height: 1;
        font-weight: bold;
        margin-top: 37px;
        color: #fff;
      }
    }
  }
}
.polygon {
  background: url('../images/bg4think.png') 0 0 repeat;
  padding: 0 0 94px;
  &_row {
    ul {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 50px 0 0;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 36px;
          &::after {
            position: relative;
            content: "+";
            font-size: 3.7rem;
            line-height: 0.8;
            font-weight: bold;
            display: inline-block;
            margin: 0 19px;
          }
        }
        &:nth-of-type(4) {
          &::after {
            position: relative;
            content: "=";
            font-size: 3.7rem;
            line-height: 0.8;
            font-weight: bold;
            display: inline-block;
            margin: 0 35px 0 48px;
          }
        }
      }
    }
    p {
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.8rem;
      font-weight: bold;
      margin-top: 40px;
    }
  }
}
.make {
  padding: 125px 0 0;
  > p {
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: bold;
    margin-top: 43px;
    text-align: center;
  }
  &_wrap {
    margin-top: 25px;
    article {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
      &:not(:first-child) {
        margin-top: 25px;
      }
      figure {
        position: relative;
        width: 439px;
        line-height: 0;
        > img {
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          top: 0;
          right: -61px;
          img:nth-of-type(2) {
            margin-top: 23px;
          }
        }
      }
      .make_right {
        width: calc(100% - 439px);
        padding: 0 93px 0 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 2.3rem;
          line-height: 28px;
          font-weight: bold;
        }
        p {
          font-size: 1.6rem;
          line-height: 28px;
          font-weight: bold;
          margin-top: 20px;
        }
        .color1 {
          color: #dabd60;
        }
        .color2 {
          color: #e78f71;
        }
        .color3 {
          color: #6cdbcd;
        }
        .color4 {
          color: #9cc673;
        }
      }
    }
  }
  &_result {
    margin-top: 140px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    article {
      width: calc((100% - 28px) / 2);
      background: url('../images/bg_result.png') 0 0 repeat;
      box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
      padding: 0 25px 0 31px;
      position: relative;
      transform: translateZ(0);
      &::before {
        position: absolute;
        content: "";
        z-index: -1;
      }
      .make_result_t {
        .make_result_ttl {
          padding: 43px 0 0 30px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 17px;
            height: calc(100% + 13px);
            top: -13px;
            left: 0;
            background: #92b97c;
            box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
          }
          span {
            font-size: 1.7rem;
            line-height: 1;
            font-weight: 500;
          }
          h3 {
            font-size: 2.6rem;
            line-height: 1;
            font-weight: bold;
            margin-top: 10px;
          }
        }
        p {
          font-size: 1.6rem;
          line-height: 28px;
          font-weight: bold;
          margin-top: 30px;
        }
      }
      dl {
        display: flex;
        border: 3px solid #92b97c;
        dt {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 111px;
          border-right: 3px solid #92b97c;
          font-size: 1.7rem;
          color: #92b97c;
          font-weight: bold;
        }
        dd {
          width: calc(100% - 111px);
          padding: 0 0 0 11px;
          font-size: 1.7rem;
          line-height: 24px;
        }
        &:not(:first-child) {
          margin-top: 12px;
        }
      }
      figure {
        text-align: center;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &:not(:nth-of-type(-n+2)) {
        margin-top: 35px;
      }
      &:nth-of-type(1) {
        &::before {
          width: 236px;
          height: 82px;
          background: url('../images/icon_02.png') 0 0 no-repeat;
          background-size: contain;
          right: 23px;
          top: 25px;
        }
        figure {
          margin-top: 33px;
        }
      }
      &:nth-of-type(2) {
        padding-bottom: 28px;
        &::before {
          width: 162px;
          height: 117px;
          background: url('../images/icon_03.png') 0 0 no-repeat;
          background-size: contain;
          right: 5px;
          top: 15px;
        }
        figure {
          margin-top: 13px;
        }
      }
      &:nth-of-type(3) {
        padding-bottom: 28px;
        .make_result_t {
          p {
            margin-top: 52px;
          }
        }
        &::before {
          width: 201px;
          height: 137px;
          background: url('../images/icon.png') 0 0 no-repeat;
          background-size: contain;
          right: 14px;
          top: 30px;
        }
        figure {
          margin-top: 46px;
        }
      }
      &:nth-of-type(4) {
        padding-bottom: 33px;
        .make_result_t {
          p {
            margin-top: 19px;
          }
        }
        &::before {
          width: 171px;
          height: 193px;
          background: url('../images/flower.png') 0 0 no-repeat;
          background-size: contain;
          right: 18px;
          top: 24px;
        }
        figure {
          margin-top: 24px;
        }
      }
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    a {
      display: flex;
      width: 385px;
      height: 71px;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
      line-height: 1;
      font-weight: bold;
      color: #fff;
      background: #92b97c;
      &:not(:first-child) {
        margin-left: 29px;
      }
    }
  }
}
.flow {
  margin-top: 199px;
  margin-bottom: 204px;
  > p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    span {
      display: block;
      font-size: 2rem;
      color: #92b97c;
      margin-top: 17px;
    }
  }
  &_wrap {
    background: url('../images/bkg_news.png') 0 0 repeat;
    margin-top: 42px;
    padding: 70px 0 0;
    &_row {
      article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 26px 54px 30px;
        border-bottom: 1px solid #92b97c;
        &:not(:first-child) {
          margin-top: 63px;
        }
        figure {
          width: 477px;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          span {
            position: absolute;
            width: 84px;
            height: 154px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 6.5rem;
            line-height: 1;
            color: #fff;
            font-weight: bold;
            background: #92b97c;
            box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
            top: -17px;
            left: -14px;

            &::before {
              position: relative;
              content: "STEP";
              font-size: 2.2rem;
              line-height: 1;
              color: #fff;
              font-weight: bold;
              margin-bottom: 13px;
            }
          }
        }
        .right {
          width: calc(100% - 477px - 54px);
          h3 {
            font-size: 3.2rem;
            line-height: 40px;
            color: #92b97c;
            font-weight: bold;
            margin-bottom: 15px;
          }
          p {
            font-size: 1.6rem;
            line-height: 28px;
            margin-bottom: 40px;
          }
          dl {
            dt {
              font-size: 1.9rem;
              line-height: 23px;
              color: #fff;
              font-weight: bold;
              padding: 0 0 0 12px;
              background: #a5c493;
            }
            dd {
              font-size: 1.6rem;
              line-height: 26px;
              margin-top: 13px;
            }
          }
          &_wrap {
            display: flex;
            justify-content: space-between;
            dl {
              width: calc((100% - 52px) / 2);
            }
          }
        }
      }
    }
  }
}