@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.think {
  margin-top: vw(70);
  figure {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      em {
        font-size: vw(72);
        line-height: 1;
        color: #fff;
        font-weight: 700;
        font-style: normal;
        position: relative;
        display: inline-block;
        padding: 0 vw(70);
        &::before,&::after {
          position: absolute;
          content: "";
          width: vw(16);
          height: vw(69);
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          background: url('../images/left_think.png') 0 0 no-repeat;
          background-size: contain;
          left: 0;
        }
        &::after {
          background: url('../images/right_think.png') 0 0 no-repeat;
          background-size: contain;
          right: 0;
        }
      }
      span {
        font-size: vw(30);
        line-height: 1;
        font-weight: bold;
        margin-top: vw(30);
        color: #fff;
      }
    }
  }
}
.polygon {
  background: url('../images/bg4think.png') 0 0 repeat;
  background-size: cover;
  padding: 0 0 vw(90);
  &_row {
    ul {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-flow: row wrap;
      padding: vw(50) 0 0;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          img {
            width: vw(100);
            height: auto;
          }
        }
        &:not(:nth-last-child(-n+2)) {
          &::after {
            position: relative;
            content: "+";
            font-size: vw(30);
            line-height: 0.8;
            font-weight: bold;
            display: inline-block;
            margin: 0 vw(15);
          }
        }
        &:last-child {
          flex-direction: column;
          img {
            width: vw(187);
            height: auto;
          }
          &::before {
            position: relative;
            content: "=";
            font-size: vw(30);
            line-height: 0.8;
            font-weight: bold;
            display: inline-block;
            margin: vw(15) 0;
            transform: rotate(90deg);
          }
        }
      }
    }
    p {
      text-align: center;
      font-size: vw(20);
      line-height: 1.5;
      font-weight: bold;
      margin-top: vw(40);
    }
  }
}
.make {
  padding: vw(80) 0 0;
  .ttl_gr {
    span {
      font-size: vw(30);
    }
  }
  > p {
    font-size: vw(20);
    line-height: 1.5;
    font-weight: bold;
    margin-top: vw(40);
    text-align: center;
  }
  &_wrap {
    margin-top: vw(25);
    article {
      box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
      &::after {
        clear: both;
        content: "";
        display: table;
      }
      &:not(:first-child) {
        margin-top: vw(25);
      }
      figure {
        position: relative;
        width: 100%;
        line-height: 0;
        text-align: center;
        > img {
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: vw(-44);
          left: 50%;
          transform: translateX(-50%);
          img {
            width: vw(122);
          }
          img:nth-of-type(2) {
            margin-left: vw(22);
          }
        }
      }
      .make_right {
        margin-top: vw(80);
        padding: 0 vw(30) vw(30);
        h3 {
          font-size: vw(30);
          line-height: 1.5;
          font-weight: bold;
          text-align: center;
          span:nth-of-type(2) {
            display: block;
          }
        }
        p {
          font-size: vw(20);
          line-height: 1.5;
          font-weight: bold;
          margin-top: vw(20);
        }
        .color1 {
          color: #dabd60;
        }
        .color2 {
          color: #e78f71;
        }
        .color3 {
          color: #6cdbcd;
        }
        .color4 {
          color: #9cc673;
        }
      }
    }
  }
  &_result {
    margin-top: vw(100);
    article {
      width: 100%;
      background: url('../images/bg_result.png') 0 0 repeat;
      background-size: cover;
      box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
      padding: 0 vw(25) vw(30) vw(30);
      position: relative;
      transform: translateZ(0);
      &::before {
        position: absolute;
        content: "";
        z-index: -1;
      }
      .make_result_t {
        .make_result_ttl {
          padding: vw(40) 0 0 vw(30);
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: vw(17);
            height: calc(100% + #{vw(13)});
            top: vw(-13);
            left: 0;
            background: #92b97c;
            box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
          }
          span {
            font-size: vw(20);
            line-height: 1;
            font-weight: 500;
          }
          h3 {
            font-size: vw(30);
            line-height: 1;
            font-weight: bold;
            margin-top: vw(20);
          }
        }
        p {
          font-size: vw(20);
          line-height: 1.5;
          font-weight: bold;
          margin-top: vw(30);
        }
      }
      dl {
        display: flex;
        border: 3px solid #92b97c;
        dt {
          display: flex;
          align-items: center;
          justify-content: center;
          width: vw(200);
          border-right: 3px solid #92b97c;
          font-size: vw(20);
          color: #92b97c;
          font-weight: bold;
        }
        dd {
          width: calc(100% - #{vw(200)});
          padding: 0 vw(10);
          font-size: vw(20);
          line-height: 1.5;
        }
        &:not(:first-child) {
          margin-top: vw(20);
        }
      }
      figure {
        text-align: center;
        margin-top: vw(30);
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &:not(:nth-of-type(-n+1)) {
        margin-top: vw(35);
      }
      &:nth-of-type(1) {
        &::before {
          width: vw(236);
          height: vw(82);
          background: url('../images/icon_02.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(23);
          top: vw(25);
        }
      }
      &:nth-of-type(2) {
        &::before {
          width: vw(162);
          height: vw(117);
          background: url('../images/icon_03.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(10);
          top: vw(30);
        }
      }
      &:nth-of-type(3) {
        &::before {
          width: vw(201);
          height: vw(137);
          background: url('../images/icon.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(14);
          top: vw(30);
        }
      }
      &:nth-of-type(4) {
        &::before {
          width: vw(171);
          height: vw(193);
          background: url('../images/flower.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(18);
          top: vw(24);
        }
      }
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    margin-top: vw(46);
    a {
      display: flex;
      width: vw(280);
      height: vw(60);
      justify-content: center;
      align-items: center;
      font-size: vw(20);
      line-height: 1;
      font-weight: bold;
      color: #fff;
      background: #92b97c;
      &:not(:first-child) {
        margin-left: vw(30);
      }
    }
  }
}
.flow {
  margin-top: vw(100);
  margin-bottom: vw(100);
  > p {
    font-size: vw(24);
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    span {
      display: block;
      font-size: vw(18);
      color: #92b97c;
      margin-top: vw(15);
    }
  }
  &_wrap {
    background: url('../images/bkg_news.png') 0 0 repeat;
    margin-top: vw(42);
    padding: vw(70) 0 0;
    &_row {
      article {
        padding: 0 0 vw(30);
        border-bottom: 1px solid #92b97c;
        &:not(:first-child) {
          margin-top: vw(40);
        }
        figure {
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          span {
            position: absolute;
            width: vw(84);
            height: vw(154);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: vw(65);
            line-height: 1;
            color: #fff;
            font-weight: bold;
            background: #92b97c;
            box-shadow: 0px 0px 4px 0px rgba(97, 91, 81, 0.2);
            top: vw(-17);
            left: vw(-14);
            &::before {
              position: relative;
              content: "STEP";
              font-size: vw(22);
              line-height: 1;
              color: #fff;
              font-weight: bold;
              margin-bottom: vw(13);
            }
          }
        }
        .right {
          width: 100%;
          h3 {
            font-size: vw(30);
            line-height: 40px;
            color: #92b97c;
            font-weight: bold;
            margin-top: vw(20);
          }
          p {
            font-size: vw(20);
            line-height: 1.5;
            margin-top: vw(20);
            margin-bottom: vw(20);
          }
          dl {
            dt {
              font-size: vw(20);
              line-height: 1.5;
              color: #fff;
              font-weight: bold;
              padding: 0 0 0 vw(12);
              background: #a5c493;
            }
            dd {
              font-size: vw(16);
              line-height: 1.5;
              margin-top: vw(13);
            }
          }
          &_wrap {
            display: flex;
            justify-content: space-between;
            dl {
              width: calc((100% - #{vw(52)}) / 2);
            }
          }
        }
      }
    }
  }
}