@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_case{
  margin-top: vw(100);
  .case_tag{
    margin-bottom: vw(30);
  }
  .b_bkg{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: vw(60) 0 0;
  }
  /*=== Detail ====*/
  .ttl_h{
    font-size: vw(22);
    line-height: 1;
    font-weight: bold;
    width: 100%;
    height: vw(48);
    border: 1px solid #92b97c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92b97c;
    background-color: #fff;
    margin-bottom: vw(25);
  }
  &_detail{
    figure{
      img{
        width: 100%;
        height: auto;
      }
    }
    .txt_dt{
      padding: 0 vw(15);
      margin: vw(20) 0;
      p{
        font-size: vw(24);
        line-height: vw(44);
        margin-bottom: vw(30);
      }
      .price{
        li{
          font-size: vw(24);
          line-height: vw(44);
          span{
            display: inline-block;
            margin-left: vw(30);
          }
        }
      }
    }
    .dt_center{
      .bf_af{
        display: flex;
        margin-left: vw(-20);
        article{
          width: calc(50% - #{vw(20)});
          margin-left: vw(20);
        }
      }
    }
    .list_img{
      display: flex;
      flex-flow: row wrap;
      margin-left: vw(-10);
      li{
        width: calc(33.33% - #{vw(10)});
        margin-left: vw(10);
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .dt_post{
      margin-top: vw(50);
      .ttl_post{
        font-size: vw(26);
        line-height: 1.3;
        font-weight: bold;
        color: #92b97c;
        border-bottom: vw(2) solid #92b97c;
        padding-bottom: vw(6);
        margin-bottom: vw(30);
      }
      .w_item{
        article{
          h4{
            font-size: vw(18);
            span{
              font-size: vw(16);
            }
          }
        }
      }
    }
  }
  .b_pag{
    margin: vw(50) 0;
    .list_pag{
      display: flex;
      justify-content: center;
      position: relative;
      li{
        width: vw(240);
        &:not(:last-child){
          margin-right: vw(40);
        }
        &.prev{
          a{
            span{
              &:before{
                content:"<";
                font-size: rem(19);
                line-height: 1;
                color: #fff;
                position: absolute;
                top: 50%;
                left: vw(30);
                transform: translateY(-50%);
                display: inline-block;
              }
            }
          }
        }
        &.next{
          a{
            span{
              &:after{
                content:">";
                font-size: rem(19);
                line-height: 1;
                color: #fff;
                position: absolute;
                top: 50%;
                right: vw(30);
                transform: translateY(-50%);
                display: inline-block;
              }
            }
          }
        }
        a{
          font-size: vw(22);
          line-height: 1;
          color: #fff;
          width: 100%;
          height: vw(60);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          background-color: #92b97c;
          position: relative;
          overflow: hidden;
          transform: translateZ(0);
        }
      }
    }
  }
  .c_tag{
    margin-bottom: vw(100);
  }
}