@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_case{
  margin-top: 110px;
  .case_tag{
    margin-bottom: 29px;
  }
  .b_bkg{
    background: url(../images/bkg_gr_case.jpg) repeat;
    background-size: contain;
    padding: 75px 0 0;
  }
  /*=== Detail ====*/
  .ttl_h{
    font-size: rem(22);
    line-height: 1;
    font-weight: bold;
    width: 100%;
    height: 48px;
    border: 1px solid #92b97c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92b97c;
    background-color: #fff;
    margin-bottom: 24px;
  }
  &_detail{
    .wrap{
      padding: 0 74px;
    }
    figure{
      img{
        width: 100%;
        height: auto;
      }
    }
    .txt_dt{
      padding: 0 50px;
      margin: 50px 0;
      p{
        font-size: rem(18);
        line-height: 28px;
        margin-bottom: 50px;
      }
      .price{
        li{
          font-size: rem(18);
          line-height: 28px;
          span{
            display: inline-block;
            margin-left: 20px;
          }
        }
      }
    }
    .dt_center{
      .bf_af{
        display: flex;
        margin-left: -52px;
        article{
          width: calc(50% - 52px);
          margin-left: 52px;
        }
      }
    }
    .list_img{
      display: flex;
      flex-wrap: wrap;
      margin-left: -11px;
      li{
        width: calc(33.33% - 11px);
        margin-left: 11px;
        &:not(:nth-of-type(-n+3)) {
          margin-top: 11px;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .dt_post{
      margin-top: 140px;
      .ttl_post{
        font-size: rem(22);
        line-height: 44px;
        font-weight: bold;
        color: #92b97c;
        border-bottom: 2px solid #92b97c;
        padding-bottom: 5px;
        margin-bottom: 30px;
      }
      .w_item{
        article{
          h4{
            font-size: rem(15);
            span{
              font-size: rem(12);
            }
          }
        }
      }
    }
  }
  .b_pag{
    margin: 60px 0 80px;
    .list_pag{
      display: flex;
      justify-content: center;
      position: relative;
      li{
        width: 221px;
        &:not(:last-child){
          margin-right: 54px;
        }
        &.prev{
          a{
            span{
              padding-left: 30px;
              &:before{
                content:"<";
                font-size: rem(19);
                line-height: 1;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 70px;
                transform: translateY(-50%);
                display: inline-block;
              }
            }
          }
        }
        &.next{
          a{
            span{
              padding-right: 30px;
              &:after{
                content:">";
                font-size: rem(19);
                line-height: 1;
                color: #fff;
                position: absolute;
                top: 50%;
                right: 70px;
                transform: translateY(-50%);
                display: inline-block;
              }
            }
          }
        }
        a{
          font-size: rem(19);
          line-height: 1;
          color: #fff;
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          background-color: #92b97c;
          position: relative;
          overflow: hidden;
          transform: translateZ(0);
          &:before,&:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: 0.5s ease-in-out;
          }
          &:before{
            right: -50px;
            border-right: 50px solid transparent;
            border-bottom: 48px solid #f4a000;
            transform: translateX(-100%);
          }
          &:after{
            left: -50px;
            border-left: 50px solid transparent;
            border-top: 48px solid #f4a000;
            transform: translateX(100%);
          }
          &:hover{
            &:before{
              transform: translateX(-49%);
            }
            &:after{
              transform: translateX(49%);
            }
          }
        }
      }
    }
  }
  .c_tag{
    margin-bottom: 120px;
  }
}