@media screen and (min-width: 769px), print {
  .gr_contact {
    padding: 140px 0 0 0;
  }
  .gr_contact_top {
    text-align: center;
    padding-bottom: 115px;
  }
  .gr_contact_top .ttl_top {
    font-size: 2.7rem;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 618px;
    height: 53px;
    border: 1px solid #92b97c;
    margin: 0 auto 30px;
    letter-spacing: 1px;
  }
  .gr_contact_top strong {
    font-size: 2.3rem;
    line-height: 36px;
    margin-bottom: 35px;
    display: block;
  }
  .gr_contact_top p {
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: bold;
  }
  .gr_contact_top em {
    font-size: 3.9rem;
    line-height: 1;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 70px;
  }
  .gr_contact_top em:before {
    content: "[";
    font-size: 7.2rem;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -70px;
  }
  .gr_contact_top em:after {
    content: "]";
    font-size: 7.2rem;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -70px;
  }
  .gr_contact_top .tel {
    font-size: 6.1rem;
    line-height: 1;
    display: inline-block;
    pointer-events: none;
    color: #464646;
  }
  .gr_contact_top p.small {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: left;
    padding: 40px 0 0 250px;
  }
  .gr_contact_center {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 110px 0 90px;
  }
  .gr_contact_center .row {
    padding: 0 42px;
  }
  .gr_contact_center .ttl_gr {
    margin-bottom: 50px;
  }
  .gr_contact_center p {
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .gr_contact_center .hty {
    font-size: 2.7rem;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 229px;
    height: 53px;
    border: 1px solid #92b97c;
    margin: 0 auto 30px;
    letter-spacing: 1px;
  }
  .gr_contact_center .list_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 67px 0 0 -78px;
  }
  .gr_contact_center .list_l li {
    width: -webkit-calc(33.33% - 78px);
    width: -moz-calc(33.33% - 78px);
    width: calc(33.33% - 78px);
    margin-left: 78px;
    -moz-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
         box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .gr_contact_center .list_l li:not(:last-child):after {
    content: "";
    background: url(../images/arr_r.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 17px;
    height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -50px;
  }
  .gr_contact_center .bx_qrcode {
    border: 1px solid #92b97c;
    background-color: #fff;
    margin: 44px 0 59px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .gr_contact_center .bx_qrcode_l {
    text-align: center;
  }
  .gr_contact_center .bx_qrcode_l em {
    font-size: 1.8rem;
    line-height: 28px;
    font-weight: bold;
    font-style: normal;
  }
  .gr_contact_center .bx_qrcode_l span {
    font-size: 2.8rem;
    line-height: 43px;
    width: 249px;
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -moz-border-radius: 6px;
         border-radius: 6px;
    font-weight: bold;
    background-color: #efeff3;
    margin: 16px auto;
  }
  .gr_contact_center .bx_qrcode_ct {
    margin: 0 110px;
  }
  .gr_contact_center .bx_qrcode_ct span {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 100%;
         border-radius: 100%;
    background-color: #efeff3;
    font-size: 5.1rem;
    line-height: 1;
    font-weight: bold;
  }
  .gr_contact_center .bx_qrcode_r figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_contact_center .bx_qrcode_r figure figcaption {
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
  }
  .gr_contact_center .btn_line {
    text-align: center;
    margin: 0 auto 35px;
  }
  .gr_contact_center .btn_line a {
    line-height: 0;
  }
  .gr_contact_center .btn_line a:hover {
    opacity: 0.8;
  }
  .gr_contact_bottom {
    padding: 140px 0 220px;
  }
  .gr_contact_bottom .ttl_gr {
    margin-bottom: 60px;
  }
  .gr_contact_bottom .txt_top {
    text-align: center;
    font-size: 1.8rem;
    line-height: 27px;
    margin-bottom: 50px;
    font-weight: bold;
  }
  .gr_contact_bottom .ctn_form .bkg_g {
    background-color: #efeff3;
    padding: 60px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group {
    border-bottom: 2px dashed #aeaeae;
    padding: 14px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group p {
    font-size: 1.6rem;
    line-height: 26px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group:first-of-type {
    border-top: 2px dashed #aeaeae;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(3), .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(6), .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(7) {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(3) label, .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(6) label, .gr_contact_bottom .ctn_form .frm_contact .frm_group:nth-of-type(7) label {
    padding-top: 10px;
  }
  .gr_contact_bottom .ctn_form .frm_contact label {
    width: 245px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_contact_bottom .ctn_form .frm_contact label .req {
    font-size: 1.6rem;
    line-height: 1;
    width: 58px;
    height: 27px;
    background-color: #ff3f3f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
    color: #fff;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_control {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 44px;
    font-size: 1.6rem;
    line-height: 1;
    padding: 0 10px;
    outline: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_textarea {
    width: 100%;
    border: none;
    height: 155px;
    resize: none;
    outline: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span {
    font-size: 1.8rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    cursor: pointer;
    width: auto;
    padding-top: 0 !important;
    display: inline-block;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span label {
    width: inherit;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span:not(:last-child) {
    margin: 0 45px 13px 0;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span input[type="checkbox"] {
    display: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span input[type="checkbox"]:checked + span::after {
    background: url("../images/check_arr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    background-position: 2px 0;
    left: 3px;
    top: 6px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span {
    display: inline-block;
    position: relative;
    padding: 6px 0 0 38px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::before, .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::after {
    position: absolute;
    content: "";
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: block;
    width: 26px;
    -moz-border-radius: 4px;
         border-radius: 4px;
    height: 26px;
    left: 3px;
    top: 6px;
    background-color: #fff;
    border: 2px solid #92b97c;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::before {
    border: 2px solid #92b97c;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left {
    width: -webkit-calc(100% - 245px);
    width: -moz-calc(100% - 245px);
    width: calc(100% - 245px);
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 17px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top span {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    margin-right: 10px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top span:last-of-type {
    margin: 0 10px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top .frm_w_105 {
    width: 105px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top .btn_s {
    width: 180px;
    height: 40px;
    font-size: 16px;
    margin-left: 22px;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit {
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    width: 366px;
    height: 67px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #92b97c;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    font-weight: bold;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    border: none;
    margin: 60px auto 0;
    cursor: pointer;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:before, .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 67px solid #f4a000;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 67px solid #f4a000;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:hover:before {
    -webkit-transform: translateX(-49%);
       -moz-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit:hover:after {
    -webkit-transform: translateX(49%);
       -moz-transform: translateX(49%);
        -ms-transform: translateX(49%);
            transform: translateX(49%);
  }
}

@media screen and (max-width: 768px) {
  .gr_contact {
    padding: 15.625vw 0 0 0;
  }
  .gr_contact_top {
    text-align: center;
    padding-bottom: 9.375vw;
  }
  .gr_contact_top .ttl_top {
    font-size: 4.375vw;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 78.125vw;
    height: 9.375vw;
    border: 1px solid #92b97c;
    margin: 0 auto 4.6875vw;
    letter-spacing: 1px;
  }
  .gr_contact_top strong {
    font-size: 4.375vw;
    line-height: 6.875vw;
    margin-bottom: 3.125vw;
    display: block;
  }
  .gr_contact_top p {
    font-size: 3.75vw;
    line-height: 6.875vw;
    font-weight: bold;
  }
  .gr_contact_top p.small {
    text-align: left;
    font-size: 3.125vw;
    line-height: 1.5;
    margin-top: 3.125vw;
  }
  .gr_contact_top em {
    font-size: 5.9375vw;
    line-height: 1;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 7.8125vw;
  }
  .gr_contact_top em:before {
    content: "[";
    font-size: 11.5625vw;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -10.15625vw;
  }
  .gr_contact_top em:after {
    content: "]";
    font-size: 11.5625vw;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -10.15625vw;
  }
  .gr_contact_top .tel {
    font-size: 8.59375vw;
    line-height: 1;
    display: inline-block;
    color: #464646;
  }
  .gr_contact_center {
    background: url(../images/bkg_gr_case.jpg) repeat;
    -moz-background-size: contain;
         background-size: contain;
    padding: 9.375vw 0 3.125vw;
  }
  .gr_contact_center .ttl_gr {
    margin-bottom: 6.25vw;
  }
  .gr_contact_center p {
    font-size: 3.75vw;
    line-height: 6.875vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6.25vw;
  }
  .gr_contact_center .hty {
    font-size: 4.375vw;
    line-height: 1;
    color: #92b97c;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46.875vw;
    height: 9.375vw;
    border: 1px solid #92b97c;
    margin: 0 auto 30px;
    letter-spacing: 1px;
  }
  .gr_contact_center .list_l li {
    position: relative;
    text-align: center;
  }
  .gr_contact_center .list_l li:not(:last-child) {
    margin-bottom: 10.9375vw;
  }
  .gr_contact_center .list_l li:not(:last-child):after {
    content: "";
    background: url(../images/arr_r.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 5.3125vw;
    height: 10.9375vw;
    position: absolute;
    -webkit-transform: translateX(-50%) rotate(90deg);
       -moz-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    left: 50%;
    bottom: -10.9375vw;
  }
  .gr_contact_center .list_l li img {
    width: 48.59375vw;
    height: auto;
    /* box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3); */
  }
  .gr_contact_center .bx_qrcode {
    border: 1px solid #92b97c;
    background-color: #fff;
    margin: 7.8125vw 0;
    padding: 6.25vw 0;
    text-align: center;
  }
  .gr_contact_center .bx_qrcode_l {
    text-align: center;
  }
  .gr_contact_center .bx_qrcode_l em {
    font-size: 3.75vw;
    line-height: 1;
    font-weight: bold;
    font-style: normal;
  }
  .gr_contact_center .bx_qrcode_l span {
    font-size: 5vw;
    line-height: 1;
    width: 46.875vw;
    height: 9.375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -moz-border-radius: 6px;
         border-radius: 6px;
    font-weight: bold;
    background-color: #efeff3;
    margin: 4.6875vw auto;
  }
  .gr_contact_center .bx_qrcode_ct {
    text-align: center;
  }
  .gr_contact_center .bx_qrcode_ct span {
    width: 23.4375vw;
    height: 23.4375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 100%;
         border-radius: 100%;
    background-color: #efeff3;
    font-size: 8.59375vw;
    line-height: 1;
    font-weight: bold;
    margin: 7.8125vw auto;
  }
  .gr_contact_center .bx_qrcode_r figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gr_contact_center .bx_qrcode_r figure figcaption {
    font-size: 3.75vw;
    line-height: 6.875vw;
    text-align: center;
    font-weight: bold;
    margin-right: 4.6875vw;
  }
  .gr_contact_center .btn_line {
    text-align: center;
    margin: 0 auto 6.25vw;
  }
  .gr_contact_center .btn_line a {
    line-height: 0;
  }
  .gr_contact_center .btn_line a:hover {
    opacity: 0.8;
  }
  .gr_contact_bottom {
    padding: 15.625vw 0;
  }
  .gr_contact_bottom .ttl_gr {
    margin-bottom: 7.8125vw;
  }
  .gr_contact_bottom .txt_top {
    text-align: center;
    font-size: 3.75vw;
    line-height: 6.875vw;
    margin-bottom: 7.8125vw;
    font-weight: bold;
  }
  .gr_contact_bottom .ctn_form .bkg_g {
    background-color: #efeff3;
    padding: 4.6875vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group {
    border-bottom: 0.3125vw dashed #aeaeae;
    padding: 3.125vw 0;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group > p {
    font-size: 3.125vw;
    line-height: 1.5;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_group:first-of-type {
    border-top: 0.3125vw dashed #aeaeae;
  }
  .gr_contact_bottom .ctn_form .frm_contact label {
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 1.3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.34375vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact label .req {
    font-size: 2.8125vw;
    line-height: 1;
    width: 9.375vw;
    height: 4.6875vw;
    background-color: #ff3f3f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3.125vw;
    color: #fff;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_control {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 9.375vw;
    font-size: 3.75vw;
    line-height: 1;
    padding: 0 2.34375vw;
    outline: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_textarea {
    width: 100%;
    border: none;
    height: 39.0625vw;
    resize: none;
    outline: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span {
    font-size: 3.75vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    cursor: pointer;
    width: auto;
    padding-top: 0 !important;
    display: inline-block;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span label {
    width: inherit;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span:not(:last-child) {
    margin: 0 3.125vw 2.34375vw 0;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span input[type="checkbox"] {
    display: none;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span input[type="checkbox"]:checked + span::after {
    background: url("../images/check_arr.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    background-position: 0.3125vw 0;
    left: 0.46875vw;
    top: 0.9375vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span {
    display: inline-block;
    position: relative;
    padding: 0.9375vw 0 0 6.25vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::before, .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::after {
    position: absolute;
    content: "";
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: block;
    width: 4.6875vw;
    -moz-border-radius: 0.78125vw;
         border-radius: 0.78125vw;
    height: 4.6875vw;
    left: 0.46875vw;
    top: 0.9375vw;
    background-color: #fff;
    border: 0.3125vw solid #92b97c;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_checkbox > span span::before {
    border: 0.3125vw solid #92b97c;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.125vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top span {
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 6.875vw;
    display: inline-block;
    margin-right: 1.5625vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top span:last-of-type {
    margin: 0 1.5625vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top .frm_w_105 {
    width: 17.65625vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .left .f_top .btn_s {
    width: 30.46875vw;
    height: 7.8125vw;
    font-size: 2.8125vw;
    margin-left: 3.125vw;
  }
  .gr_contact_bottom .ctn_form .frm_contact .frm_btn .btn_submit {
    font-size: 3.75vw;
    line-height: 1;
    color: #fff;
    width: 62.5vw;
    height: 9.375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #92b97c;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    font-weight: bold;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    border: none;
    margin: 7.8125vw auto 0;
    cursor: pointer;
  }
}
