@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #464646;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #464646;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
  }
  .container {
    /* overflow: hidden; */
    min-width: 1150px;
  }
  .gr_breadcrumb {
    margin: 30px 0 0 0;
  }
  .gr_breadcrumb_list {
    font-size: 0;
  }
  .gr_breadcrumb_list li {
    font-size: 1.6rem;
    line-height: 1;
    color: #92b97c;
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  .gr_breadcrumb_list li:not(:last-child) {
    margin-right: 30px;
  }
  .gr_breadcrumb_list li:not(:last-child):after {
    content: ">";
    font-size: 1.6rem;
    line-height: 1;
    color: #92b97c;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -20px;
  }
  .gr_breadcrumb_list li a {
    color: #92b97c;
  }
  .gr_breadcrumb_list li a:hover {
    color: #f4a000;
  }
  .ttl_gr {
    text-align: center;
    display: block;
    margin-bottom: 55px;
  }
  .ttl_gr span {
    font-size: 4.5rem;
    line-height: 1;
    position: relative;
    font-weight: bold;
  }
  .ttl_gr span:before {
    content: "[";
    font-size: 7.2rem;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -70px;
  }
  .ttl_gr span:after {
    content: "]";
    font-size: 7.2rem;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -70px;
  }
  .case_tag .list_tag {
    font-size: 0;
    text-align: center;
  }
  .case_tag .list_tag li {
    display: inline-block;
    margin: 0 0 16px 12px;
  }
  .case_tag .list_tag li a {
    font-size: 1.9rem;
    line-height: 1;
    display: block;
    padding: 10px 25px;
    font-weight: bold;
    border: 1px solid #92b97c;
    -moz-border-radius: 30px;
         border-radius: 30px;
  }
  .case_tag .list_tag li a:hover {
    background-color: #f4a000;
    color: #fff;
    border: 1px solid #f4a000;
  }
  .case_item .w_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -33px;
  }
  .case_item article {
    width: -webkit-calc(33.33% - 33px);
    width: -moz-calc(33.33% - 33px);
    width: calc(33.33% - 33px);
    margin: 0 0 88px 33px;
  }
  .case_item article a {
    display: block;
  }
  .case_item article a:hover {
    opacity: 0.8;
  }
  .case_item article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .case_item article a:hover h4:after {
    width: 100%;
  }
  .case_item article figure {
    overflow: hidden;
    text-align: center;
  }
  .case_item article figure img {
    max-width: 100%;
    width: auto;
    height: 259px;
    -o-object-fit: cover;object-fit: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .case_item article .main_art h4 {
    font-size: 1.8rem;
    line-height: 23px;
    text-align: right;
    border-bottom: 3px solid #f4a000;
    padding: 10px 0;
    margin: 10px 0 20px;
    position: relative;
  }
  .case_item article .main_art h4 span {
    display: block;
    font-size: 1.4rem;
  }
  .case_item article .main_art h4:before {
    content: "";
    width: 10px;
    height: 67px;
    background-color: #92b97c;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  .case_item article .main_art h4:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #92b97c;
    z-index: 10;
  }
  .case_item article .main_art_l {
    font-size: 0;
  }
  .case_item article .main_art_l li {
    display: inline-block;
    margin: 0 0 10px 10px;
  }
  .case_item article .main_art_l li span {
    font-size: 1.5rem;
    line-height: 1;
    display: block;
    padding: 8px 20px;
    font-weight: bold;
    border: 1px solid #92b97c;
    -moz-border-radius: 30px;
         border-radius: 30px;
    color: #92b97c;
  }
  .btn a {
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    width: 160px;
    height: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #92b97c;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .btn a:before, .btn a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .btn a:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 46px solid #f4a000;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .btn a:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 46px solid #f4a000;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .btn a:hover:before {
    -webkit-transform: translateX(-49%);
       -moz-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
  .btn a:hover:after {
    -webkit-transform: translateX(49%);
       -moz-transform: translateX(49%);
        -ms-transform: translateX(49%);
            transform: translateX(49%);
  }
  .header_main h1 {
    text-align: center;
    padding: 90px 0 0;
    font-size: 0;
  }
  .header_main h1 a {
    display: inline-block;
  }
  .header_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 63px 0 33px;
    background: #fff;
    min-width: 1150px;
  }
  .header_nav_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_nav_list > li:not(:last-child) {
    margin-right: 18px;
  }
  .header_nav_list > li > a {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    color: #464646;
    padding: 0 10px;
    position: relative;
    display: inline-block;
  }
  .header_nav_list > li > a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #d9e3ba;
    left: 50%;
    bottom: -7px;
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(-50%) scale(0, 1);
       -moz-transform: translateX(-50%) scale(0, 1);
        -ms-transform: translateX(-50%) scale(0, 1);
            transform: translateX(-50%) scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .header_nav_list > li > a:hover::after {
    -webkit-transform: translateX(-50%) scale(1, 1);
       -moz-transform: translateX(-50%) scale(1, 1);
        -ms-transform: translateX(-50%) scale(1, 1);
            transform: translateX(-50%) scale(1, 1);
  }
  .header_nav_list > li > span {
    display: none;
  }
  .header_nav_list > li > ul {
    display: none;
  }
  .header_nav_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 38px;
  }
  .header_nav_btn li:not(:last-child) {
    margin-right: 17px;
  }
  .header_nav_btn li a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.4rem;
    line-height: 1;
  }
  .header_nav_btn li a.mail {
    background: #92b97c;
    color: #fff;
    padding: 10px 41px 11px 34px;
  }
  .header_nav_btn li a.mail::before {
    position: relative;
    content: "";
    width: 21px;
    height: 15px;
    background: url("../images/icon_mail.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 7px;
  }
  .header_nav_btn li a.tel {
    pointer-events: none;
    font-size: 1.9rem;
    line-height: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #9e9e9e;
    padding: 0 24px 0 25px;
    font-weight: bold;
    height: 100%;
    color: #464646;
  }
  .header_nav_btn li a.tel::before {
    position: relative;
    content: "tel";
    font-size: 1.9rem;
    line-height: 1;
    font-weight: 500;
    margin-right: 10px;
    color: #464646;
  }
  .header.fixed .wrap_nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
  }
  .footer {
    position: relative;
    padding: 70px 0 0;
  }
  .footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background: url("../images/bg_footer_top.png") no-repeat center 0;
    top: 0;
  }
  .footer_top_nav {
    padding: 68px 0 0;
    background: url("../images/footer_blend.png") repeat 0 0;
    background-color: #E6EECE;
    background-blend-mode: multiply;
  }
  .footer_top_nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 93px;
  }
  .footer_top_nav > ul > li {
    width: 190px;
  }
  .footer_top_nav > ul > li > a {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    color: #464646;
    padding: 0 0 0 28px;
    position: relative;
  }
  .footer_top_nav > ul > li > a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/icon_house.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    height: 18px;
    width: 13px;
  }
  .footer_top_nav > ul > li > ul {
    padding: 15px 0 0 29px;
  }
  .footer_top_nav > ul > li > ul > li:not(:first-child) {
    margin-top: 10px;
  }
  .footer_top_nav > ul > li > ul > li > a {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
    padding: 0 0 0 15px;
    position: relative;
  }
  .footer_top_nav > ul > li > ul > li > a::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 14px;
    background: url("../images/arrow_footer.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer_top_c {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background-image: url("../images/bg_footer_01.png"), url("../images/footer_blend.png");
    background-blend-mode: multiply;
    background-position: right 109px center, 0 0;
    background-repeat: no-repeat, repeat;
    background-color: #E6EECE;
  }
  .footer_top_c_row {
    padding: 85px 0 133px 70px;
  }
  .footer_top_c_row article h3 {
    font-size: 4.7rem;
    line-height: 1;
    font-weight: bold;
    color: #92b97c;
  }
  .footer_top_c_row article h3 span {
    font-size: 2.7rem;
    line-height: 1;
    color: #464646;
  }
  .footer_top_c_row article h3::first-letter {
    text-transform: uppercase;
    color: #f4a000;
  }
  .footer_top_c_row article .hotline {
    position: relative;
    padding: 0 0 0 72px;
    color: #464646;
    margin-top: 50px;
  }
  .footer_top_c_row article .hotline::before {
    position: absolute;
    content: "tel";
    font-size: 4.4rem;
    line-height: 1;
    font-weight: 500;
    left: 0;
    top: 0;
  }
  .footer_top_c_row article .hotline a {
    font-size: 4.4rem;
    line-height: 1;
    color: #464646;
    font-weight: bold;
    pointer-events: none;
  }
  .footer_top_c_row article .hotline span {
    display: block;
    padding: 0 0 0 35px;
    font-size: 1.3rem;
    line-height: 1;
    margin-top: 10px;
  }
  .footer_top_c_row article .btn {
    margin-left: 17px;
    margin-top: 34px;
  }
  .footer_top_c_row article .btn a {
    width: 331px;
    height: 52px;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
  }
  .footer_top_c_row article .btn a::before {
    border-bottom: 52px solid #f4a000;
  }
  .footer_top_c_row article .btn a::after {
    border-bottom: 52px solid #f4a000;
  }
  .footer_top_c_row article h4 {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 49px;
  }
  .footer_top_c_row article address, .footer_top_c_row article p {
    font-style: normal;
    font-size: 2rem;
    line-height: 38px;
  }
  .footer_top_c_row article p a.tel {
    pointer-events: none;
    color: #464646;
  }
  .footer_bottom {
    text-align: center;
    padding: 21px 0;
    background: #fff;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
  }
  .footer .pagetop {
    position: absolute;
    width: 88px;
    height: 88px;
    background: #92b97c;
    right: -webkit-calc(50% - ((1150px + 88px)  / 2));
    right: -moz-calc(50% - ((1150px + 88px)  / 2));
    right: calc(50% - ((1150px + 88px)  / 2));
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer .pagetop::before {
    position: relative;
    content: "";
    width: 39px;
    height: 21px;
    background: url("../images/arrow_pagetop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-bottom: 9px;
  }
  .footer .social {
    position: fixed;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer .social li:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer .social li a {
    line-height: 0;
    display: block;
  }
  .gr_ttl {
    background: url(../../common/images/bkg_concept.jpg) top center repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .gr_ttl .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gr_ttl_left {
    width: -webkit-calc(100% - 643px);
    width: -moz-calc(100% - 643px);
    width: calc(100% - 643px);
  }
  .gr_ttl_left .ttl {
    font-size: 4.5rem;
    line-height: 1;
    color: #92b97c;
    letter-spacing: 2px;
    text-align: center;
  }
  .gr_ttl_left .ttl::first-letter {
    color: #f4a000;
  }
  .gr_ttl_left .ttl span {
    font-size: 2.8rem;
    line-height: 1;
    margin-left: 20px;
  }
  .gr_ttl_right {
    width: 643px;
  }
}

@media screen and (max-width: 768px) {
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 4.6875vw;
  }
  .gr_breadcrumb {
    display: none;
  }
  .btn a {
    font-size: 3.125vw;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    width: 42.03125vw;
    height: 10vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #92b97c;
    letter-spacing: 1px;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .ttl_gr {
    text-align: center;
    display: block;
    margin-bottom: 7.8125vw;
  }
  .ttl_gr span {
    font-size: 6.875vw;
    line-height: 1;
    position: relative;
    font-weight: bold;
  }
  .ttl_gr span:before {
    content: "[";
    font-size: 11.5625vw;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -10.9375vw;
  }
  .ttl_gr span:after {
    content: "]";
    font-size: 11.5625vw;
    line-height: 1;
    color: #92b97c;
    font-weight: 500;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -10.9375vw;
  }
  .case_tag .list_tag {
    font-size: 0;
    text-align: center;
  }
  .case_tag .list_tag li {
    display: inline-block;
    margin: 0 0 2.34375vw 2.34375vw;
  }
  .case_tag .list_tag li a {
    font-size: 3.4375vw;
    line-height: 1;
    display: block;
    padding: 1.5625vw 3.125vw;
    font-weight: bold;
    border: 1px solid #92b97c;
    -moz-border-radius: 30px;
         border-radius: 30px;
  }
  .case_tag .list_tag li a:hover {
    background-color: #f4a000;
    color: #fff;
    border: 1px solid #f4a000;
  }
  .case_item .w_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: -2.34375vw;
  }
  .case_item article {
    width: -webkit-calc(50% - 2.34375vw);
    width: -moz-calc(50% - 2.34375vw);
    width: calc(50% - 2.34375vw);
    margin: 0 0 7.8125vw 2.34375vw;
  }
  .case_item article a {
    display: block;
  }
  .case_item article a:hover {
    opacity: 0.8;
  }
  .case_item article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .case_item article a:hover h4:after {
    width: 100%;
  }
  .case_item article figure {
    overflow: hidden;
  }
  .case_item article figure img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .case_item article .main_art h4 {
    font-size: 3.75vw;
    line-height: 1.3;
    text-align: right;
    border-bottom: 0.625vw solid #f4a000;
    padding: 1.5625vw 0 2.34375vw;
    margin: 1.5625vw 0 3.125vw;
    position: relative;
  }
  .case_item article .main_art h4 span {
    display: block;
    font-size: 2.8125vw;
    margin-top: 1.5625vw;
  }
  .case_item article .main_art h4:before {
    content: "";
    width: 10px;
    height: 100%;
    background-color: #92b97c;
    position: absolute;
    bottom: -0.625vw;
    left: 0;
  }
  .case_item article .main_art_l {
    font-size: 0;
  }
  .case_item article .main_art_l li {
    display: inline-block;
    margin: 0 0 1.5625vw 1.5625vw;
  }
  .case_item article .main_art_l li span {
    font-size: 2.5vw;
    line-height: 1;
    display: block;
    padding: 1.25vw 3.4375vw;
    font-weight: bold;
    border: 1px solid #92b97c;
    -moz-border-radius: 30px;
         border-radius: 30px;
    color: #92b97c;
  }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5vw 0;
    background: #fff;
    position: relative;
  }
  .header h1 {
    font-size: 0;
    width: 30.625vw;
  }
  .header h1 a {
    display: block;
  }
  .header h1 a img {
    width: 100%;
    height: auto;
  }
  .header .menu_sp {
    cursor: pointer;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
            transition-timing-function: linear;
    width: 9.6875vw;
    height: 9.6875vw;
    border: 1px solid #6ea250;
    -moz-border-radius: 50%;
         border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 7.65625vw;
  }
  .header .menu_sp .icon_menu {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 3.90625vw;
    height: 2.96875vw;
  }
  .header .menu_sp .icon_menu .icon_inner, .header .menu_sp .icon_menu .icon_inner::before, .header .menu_sp .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    background: #80ad65;
    right: 0;
  }
  .header .menu_sp .icon_menu .icon_inner {
    display: block;
    top: 50%;
    -webkit-transition: background-color 0.2s ease-in 0.25s;
    -moz-transition: background-color 0.2s ease-in 0.25s;
    transition: background-color 0.2s ease-in 0.25s;
    height: 0.46875vw;
  }
  .header .menu_sp .icon_menu .icon_inner::before {
    content: "";
    display: block;
    top: -1.25vw;
    left: 0;
    -webkit-transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, left 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .menu_sp .icon_menu .icon_inner::after {
    content: "";
    display: block;
    top: 1.25vw;
    right: 0;
    -webkit-transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
    transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.2s, right 0.2s ease-in 0.25s, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .header .menu_sp.open .icon_menu .icon_inner {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    background-color: transparent;
  }
  .header .menu_sp.open .icon_menu .icon_inner::before {
    top: -80px;
    left: -80px;
    -webkit-transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: left 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
       -moz-transform: translate3d(80px, 80px, 0) rotate(45deg);
            transform: translate3d(80px, 80px, 0) rotate(45deg);
  }
  .header .menu_sp.open .icon_menu .icon_inner::after {
    top: -80px;
    right: -80px;
    -webkit-transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -moz-transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transition: right 0.2s ease-out, top 0.05s linear 0.2s, transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s, -moz-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
       -moz-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
            transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  }
  .header_nav {
    position: absolute;
    width: -webkit-calc(100% + 9.375vw);
    width: -moz-calc(100% + 9.375vw);
    width: calc(100% + 9.375vw);
    margin: 0 -4.6875vw;
    height: 0;
    left: 0;
    top: 28.59375vw;
    z-index: 99;
    background: rgba(255, 255, 255, 0.65);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow: scroll;
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
  }
  .header_nav > ul {
    background: #fff;
  }
  .header_nav > ul > li {
    padding: 0 0 0 5.9375vw;
    border-top: 1px solid #92b97c;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_nav > ul > li:first-child {
    display: none;
  }
  .header_nav > ul > li:last-child {
    border-bottom: 1px solid #92b97c;
  }
  .header_nav > ul > li > a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-size: 2.96875vw;
    line-height: 0;
    padding: 4.53125vw 0 4.6875vw;
  }
  .header_nav > ul > li > a::before {
    position: relative;
    content: "";
    width: 2.34375vw;
    height: 3.125vw;
    background: url("../images/icon_house.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 2.8125vw;
  }
  .header_nav > ul > li > span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 3.4375vw;
    height: 3.4375vw;
    position: relative;
    margin-right: 11.25vw;
  }
  .header_nav > ul > li > span::before, .header_nav > ul > li > span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #464646;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header_nav > ul > li > span::after {
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
       -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .header_nav > ul > li > ul {
    width: -webkit-calc(100% + 5.9375vw);
    width: -moz-calc(100% + 5.9375vw);
    width: calc(100% + 5.9375vw);
    margin-left: -5.9375vw;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .header_nav > ul > li > ul > li {
    border-top: 1px solid #92b97c;
  }
  .header_nav > ul > li > ul > li > a {
    font-size: 2.96875vw;
    line-height: 4.53125vw;
    padding: 3.125vw 0 3.125vw 10.625vw;
    display: block;
    width: 100%;
  }
  .header_nav > ul > li.active > span::after {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
       -moz-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .header_nav_btn {
    display: none;
  }
  .header_nav.open {
    height: 100vh;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999;
  }
  .footer {
    position: relative;
    padding: 10.9375vw 0 0;
  }
  .footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10.9375vw;
    background: url("../images/bg_footer_top_sp.png") no-repeat center 0;
    -moz-background-size: contain;
         background-size: contain;
    top: 0vw;
  }
  .footer_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer_top > * {
    width: 100%;
  }
  .footer_top_nav {
    background: url("../images/footer_blend.png") repeat 0 0;
    background-color: #E6EECE;
    background-blend-mode: multiply;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_top_nav > ul > li {
    padding: 0 0 0 5.9375vw;
    border-top: 1px solid #92b97c;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_top_nav > ul > li:first-child {
    display: none;
  }
  .footer_top_nav > ul > li:last-child {
    border-bottom: 1px solid #92b97c;
  }
  .footer_top_nav > ul > li > a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-size: 2.96875vw;
    line-height: 0;
    padding: 4.53125vw 0 4.6875vw;
  }
  .footer_top_nav > ul > li > a::before {
    position: relative;
    content: "";
    width: 2.34375vw;
    height: 3.125vw;
    background: url("../images/icon_house.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 2.8125vw;
  }
  .footer_top_nav > ul > li > span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 3.4375vw;
    height: 3.4375vw;
    position: relative;
    margin-right: 11.25vw;
  }
  .footer_top_nav > ul > li > span::before, .footer_top_nav > ul > li > span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #464646;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer_top_nav > ul > li > span::after {
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
       -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .footer_top_nav > ul > li > ul {
    width: -webkit-calc(100% + 5.9375vw);
    width: -moz-calc(100% + 5.9375vw);
    width: calc(100% + 5.9375vw);
    margin-left: -5.9375vw;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .footer_top_nav > ul > li > ul > li {
    border-top: 1px solid #92b97c;
  }
  .footer_top_nav > ul > li > ul > li > a {
    font-size: 2.96875vw;
    line-height: 4.53125vw;
    padding: 3.125vw 0 3.125vw 10.625vw;
    display: block;
    width: 100%;
  }
  .footer_top_nav > ul > li.active > span::after {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
       -moz-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .footer_top_c {
    background: url("../images/footer_blend.png") repeat 0 0;
    background-color: #E6EECE;
    background-blend-mode: multiply;
    position: relative;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_top_c_row {
    padding: 10vw 0 10.46875vw;
  }
  .footer_top_c_row article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_top_c_row article h3 {
    font-size: 7.34375vw;
    line-height: 1;
    font-weight: bold;
    color: #92b97c;
  }
  .footer_top_c_row article h3 span {
    font-size: 4.21875vw;
    line-height: 1;
    color: #464646;
  }
  .footer_top_c_row article h3::first-letter {
    text-transform: uppercase;
    color: #f4a000;
  }
  .footer_top_c_row article .hotline {
    position: relative;
    padding: 0 0 0 14.0625vw;
    color: #464646;
    margin-top: 7.8125vw;
  }
  .footer_top_c_row article .hotline::before {
    position: absolute;
    content: "tel";
    font-size: 8.28125vw;
    line-height: 1;
    font-weight: 500;
    left: 0;
    top: 0;
  }
  .footer_top_c_row article .hotline a {
    font-size: 8.28125vw;
    line-height: 1;
    color: #464646;
    font-weight: bold;
  }
  .footer_top_c_row article .hotline span {
    display: block;
    padding: 0 0 0 6.71875vw;
    font-size: 2.5vw;
    line-height: 1;
    margin-top: 1.875vw;
  }
  .footer_top_c_row article .btn {
    margin-top: 4.6875vw;
  }
  .footer_top_c_row article .btn a {
    width: 71.5625vw;
    height: 11.09375vw;
    font-size: 3.4375vw;
    line-height: 1;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #92b97c;
  }
  .footer_top_e {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4.0625vw;
  }
  .footer_top_e h4 {
    font-size: 3.4375vw;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
  }
  .footer_top_e_r address, .footer_top_e_r p {
    font-style: normal;
    font-size: 3.125vw;
    line-height: 5.9375vw;
    text-align: justify;
  }
  .footer_top_e_r p a.tel {
    color: #464646;
  }
  .footer_bottom {
    text-align: center;
    padding: 0 0 7.8125vw;
    background: #fff;
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 500;
  }
  .footer .pagetop {
    position: absolute;
    width: 8.125vw;
    height: 8.125vw;
    background: #92b97c;
    right: 6.40625vw;
    top: 4.375vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.03125vw;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }
  .footer .pagetop::before {
    position: relative;
    content: "";
    width: 3.59375vw;
    height: 1.875vw;
    background: url("../images/arrow_pagetop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-bottom: 1.09375vw;
  }
  .gr_ttl {
    background: url(../../common/images/bkg_concept.jpg) top center repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .gr_ttl .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    height: 31.25vw;
    overflow: hidden;
  }
  .gr_ttl_left {
    width: -webkit-calc(100% - 54.6875vw);
    width: -moz-calc(100% - 54.6875vw);
    width: calc(100% - 54.6875vw);
  }
  .gr_ttl_left .ttl {
    font-size: 7.03125vw;
    line-height: 1;
    color: #92b97c;
    letter-spacing: 0.46875vw;
  }
  .gr_ttl_left .ttl::first-letter {
    color: #f4a000;
  }
  .gr_ttl_left .ttl span {
    font-size: 3.75vw;
    line-height: 1;
    display: block;
    margin-top: 0.78125vw;
  }
  .gr_ttl_right {
    width: 54.6875vw;
  }
  .gr_ttl_right figure {
    height: 39.0625vw;
    overflow: hidden;
  }
  .gr_ttl_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
